In [1]:
user_input = input("Enter a String:")

for i in user_input:
    print(i)

A
b
h
i
s
h
e
k

In [2]:
user_input = input("Enter a String")
for i in user_input:
    print(i)

W
a
k
c
h
a
u
r
e

In [3]:
string1 = "Abhishek Wakchaure"
length = len(string1)
print(f"Length of the string is {length} characters")

Length of the string is 18 characters

In [5]:
length = 0 
for i in string1:
    length += 1

print(f"Length of the string is {length} characters")

Length of the string is 18 characters

In [6]:
sentence = "This is orange juice"
keyword = "orange"
if keyword in sentence:
    print("Keyword is present")
else:
    print("Keyword is not present")

Keyword is present

In [7]:
input_string = input("Enter a String:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0
consonant_count = 0
digit_count = 0
whitespace_count = 0
for char in input_string:
    if char.lower() in vowels:
        vowel_count += 1
    if char.lower() in consonants:
        consonant_count += 1
    if char in digits:
        digit_count += 1
    if char.isspace():
        whitespace_count += 1

print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  7
Consonant count :  10
Digit count :  4
Whitespace count :  2

In [12]:
input_string = input("Enter a string:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0 
consonant_count = 0 
digit_count = 0
whitespace_count = 0
for char in input_string:
    if char.lower() in vowels:
        vowel_count += 1
    if char.lower() in consonants:
        consonant_count += 1
    if char in digits:
        digit_count += 1
    if char.isspace():
        whitespace_count += 1
print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  1
Consonant count :  3
Digit count :  3
Whitespace count :  0

In [13]:
input_string = input("Enter a string:")
uppercase_count = 0 
lowercase_count = 0
special_count = 0
numeric_count = 0
for char in input_string:
    if char.islower():
        lowercase_count += 1
    if char.isupper():
        uppercase_count += 1
    if char.isdigit():
        numeric_count += 1
    else:
        special_count += 1
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  6
Lower case count:  7
Special count:  15
Number of digits:  4

In [14]:
input_string = input("Enter a String:")
lowercase_count = 0 
uppercase_count = 0 
numeric_count = 0 
special_count = 0 
for char in input_string:
    if char.islower():
        lowercase_count += 1 
    if char.isupper():
        uppercase_count += 1
    if char.isdigit():
        digit_count += 1 
    else:
        special_count += 1 
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  2
Lower case count:  10
Special count:  20
Number of digits:  0

In [15]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for char in input_string:
    if char.isalpha() and char not in vowels:
        new_string += char

print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: Hllhvgddy

In [16]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for char in input_string:
    if char.isalpha() and char not in vowels:
        new_string += char

print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: Hllhvgddy

In [17]:
input_string = input("Enter a non empty string:")
index = int(input("ENter the index of the character to be removed :"))

if index < 0 and index > len(input_string):
    print("Invalid Index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string:" , input_string)
    print("New string:" , new_string)

Original string: abhishek
New string: abhihek

In [18]:
input_string = input("Enter a non empty string:")
index = int(input("ENter the index of the character to be removed:"))
if index < 0 and index > len(input_string):
    print("Invalid Index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string:" , input_string)
    print("New string:" , new_string)

Original string: wakchaure
New string: wakcaure

In [19]:
input_string = input("Enter a String:")
if len(input_string) < 2:
    print("String should have atleast 2 characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  abhishek
String with first and last characters exchanged:  kbhishea

In [20]:
input_string = input("ENter a string:")
if len(input_string) < 2:
    print("String should have atleast 2 characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  wakchaure
String with first and last characters exchanged:  eakchaurw

In [21]:
input_string = str(input("Enter a string:"))
word = ""
for i in input_string:
    word = i 
    count = input_string.count(word)
    print(f"In the given string {word} is been repeated {count} times")

In the given string a is been repeated 1 times
In the given string b is been repeated 1 times
In the given string h is been repeated 2 times
In the given string i is been repeated 1 times
In the given string s is been repeated 1 times
In the given string h is been repeated 2 times
In the given string e is been repeated 1 times
In the given string k is been repeated 1 times

In [22]:
input_string = str(input("Enter a string:"))
word = ""
for i in input_string:
    word = i 
    count = input_string.count(word)
    print(f"In the given string {word} is repeated {count} times")

In the given string w is repeated 1 times
In the given string a is repeated 2 times
In the given string k is repeated 1 times
In the given string c is repeated 1 times
In the given string h is repeated 1 times
In the given string a is repeated 2 times
In the given string u is repeated 1 times
In the given string r is repeated 1 times
In the given string e is repeated 1 times

In [25]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

abhishek : 1
wakchaure : 1

In [27]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

hi : 1
where : 1
are : 2
you : 3
i : 3
am : 1
coming : 1
to : 1
your : 1
home : 1
are : 2
you : 3
there : 1

In [28]:
input_string = input("Enter a string:")
last10_char = input_string[-10:]
print("Last 10 characters in the string are :" , last10_char)

Last 10 characters in the string are :  wakchaure

In [29]:
input_string = input("Enter a string:")
last10_char = input_string[-10:]
print("Last 10 characters in the string are :" , last10_char)

Last 10 characters in the string are : oming home

In [30]:
input_string = input("Enter a string:")
uppercase_count = 0 
for char in input_string[:4]:
    if char.isupper():
        uppercase_count += 1
if uppercase_count > 2 :
    uppercase_string = input_string.upper()
    print("Upper case string:",uppercase_string)
else:
    print("No Conversion required.String doesnot meet condition")

Upper case string: ABHISHEK

In [31]:
input_string = input("Enter a string:")
uppercase_count = 0
for char in input_string[:4]:
    if char.isupper():
        uppercase_count += 1
if uppercase_count > 2 :
    uppercase_string = input_string.upper()
    print("Upper case string:",uppercase_string)
else:
    print("No Conversion required.String doesnot meet condition")

No Conversion required.String doesnot meet condition

In [32]:
input_string = "This is a string with newline.\n"
new_string = input_string.replace("\n" , "")
print("Original string:",input_string)
print("New string without newline:",new_string)

Original string: This is a string with newline.

New string without newline: This is a string with newline.

In [33]:
input_string = "This is a string with newline.\n"
new_string = input_string.replace("\n" , "")
print("Original string:",input_string)
print("New string without newline:",new_string)

Original string: This is a string with newline.

New string without newline: This is a string with newline.

In [34]:
input_string = "32.054,23"
new_string = input_string.replace("," , "*").replace(".",",").replace("*",".")
print("Original string:",input_string)
print("Swapped string:",new_string)

Original string: 32.054,23
Swapped string: 32,054.23

In [35]:
input_string = "32.054,23"
new_string = input_string.replace(",","*").replace(".",",").replace("*",".")
print("Original string:",input_string)
print("Swapped string:",new_string)

Original string: 32.054,23
Swapped string: 32,054.23

In [36]:
input_string = input("Enter a string:")
char_count = {}
for char in input_string:
    if char in char_count:
        print("First repeated char:",char)
        break
    char_count[char] = 1
else:
    print("No repeated character found")

First repeated char: h

In [37]:
input_string = input("Enter a string:")
char_count = {}
for char in input_string:
    if char in char_count:
        print("First repeated char:",char)
        break
    char_count[char] = 1
else:
    print("No repeated character found")

First repeated char: a

In [38]:
input_string = input("Enter a string:")
even_count = 0 
odd_count = 0
for char in input_string:
    if char.isdigit():
        num = int(char)
        if num%2==0:
            even_count += 1
        else:
            odd_count += 1
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 5
odd number count : 4

In [39]:
input_string = input("Enter a string")
even_count = 0 
odd_count = 0
for char in input_string:
    if char.isdigit():
        num = int(char)
        if num%2==0:
            even_count += 1
        else:
            odd_count += 1
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 3
odd number count : 3

In [40]:
input_string = input("Enter a string:")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains alphabets")

String contains only digits

In [41]:
input_string = input("Enter a string")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains alphabets")

String contains alphabets

In [42]:
a = "Abhishek"
List = list(a)
print(List)
x = input("Enter the character to be removed")
if x in List:
    List.remove(x)
    print(List)
else:
    print("Character not found")
Str = ""
result = Str.join(List)
print(result)

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']
['A', 'b', 'h', 'i', 'h', 'e', 'k']
Abhihek

In [43]:
a = "wakchaure"
List = list(a)
print(List)
x = input("Enter the character to be removed")
if x in List:
    List.remove(x)
    print(List)
else:
    print("Character not found")
Str = ""
result = Str.join(List)
print(result)

['w', 'a', 'k', 'c', 'h', 'a', 'u', 'r', 'e']
['w', 'a', 'k', 'h', 'a', 'u', 'r', 'e']
wakhaure

In [44]:
a = "abhishek"
k = []
for i in a:
    if a.index(i)%2==0:
        k.append(i)
print(k)

['a', 'h', 's', 'h', 'e']

In [45]:
a = "wakchaure"
k = []
for i in a:
    if a.index(i)%2==0:
        k.append(i)
print(k)

['w', 'k', 'h', 'u', 'e']

In [46]:
input_string = input("Enter a string:")
if len(input_string)%5==0:
    output_string = input_string[::-1]
    print(output_string)
else:
    print("Length is not multiple of 5")

Length is not multiple of 5

In [47]:
input_string = input("Enter a string:")
if len(input_string)%5==0:
    output_string = input_string[::-1]
    print(output_string)
else:
    print("Length is not multiple of 5")

awkehsihba

In [48]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string[::-1]
print(empty)

eruahckaw kehsihba

In [49]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string[::-1]
print(empty)

eruahckaw

In [50]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string.swapcase()
print(empty)

aBHISHEK

In [51]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string.swapcase()
print(empty)

AbhISHeK

In [52]:
input_string = str(input("Enter a string:"))
output_string = input_string.replace(" ","")
print("Old string:",input_string)
print("New string:",output_string)

Old string: abhishek good boy
New string: abhishekgoodboy

In [53]:
input_string = str(input("Enter a string:"))
output_string = input_string.replace(" ","")
print("Old string:",input_string)
print("New string:",output_string)

Old string: abhishek   wakchaure
New string: abhishekwakchaure

In [54]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
print(output_string)

['a', 'b', 'h', 'i', 's', 'e', 'k']

In [55]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
print(output_string)

['w', 'a', 'k', 'c', 'h', 'u', 'r', 'e']

In [56]:
radius = eval(input("Enter the radius of the circle:"))
area = 3.14 * radius * radius
print("Area of the circle:",area)

Area of the circle: 78.5

In [57]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i)

0
1
4
9
16
25

In [58]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i)

0
1
4
9
16
25
36

In [59]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i*i)

0
1
8
27
64
125

In [60]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i*i)

0
1
8
27
64
125
216

In [63]:
n = eval(input("Enter a number:"))
for i in range(2 , n):
    if n % i == 0:
        print("Not Prime")
        break
    else:
        print("Prime Number")
        break

Not Prime

In [65]:
n = eval(input("Enter a number:"))
for i in range(2 , n):
    if n % i == 0:
        print("Not Prime")
        break
    else:
        print("Prime Number") 
        break

Prime Number

In [1]:
list1 = [1,2,3,4,5]
max(list1)

5

In [2]:
list1 = [1,2,3,4,5]
max1 = list1[0]
for i in list1:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

5

In [4]:
list1 = [3,55,3,44,6,74,67,17]
final_list = sorted(list1)
max1 = final_list[0]
for i in final_list:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

74

In [6]:
list1 = [55,33,5,43,5,77,85,444,5,6,666,95,445,533,765,3,22,5,555,888]
final_list = sorted(list1)
max1 = final_list[0]
for i in final_list:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

888

In [7]:
list1 = [4,5,3,5,5,44,55,33,4,26,44,55]
list1.sort()
list1
max1 = list1[-1]
max1

55

In [8]:
list1 = [33,22,54,56,33,22,145,65,44,5,444]
list1.sort(reverse=True)
max1 = list1[0]
max1

444

In [10]:
list1 = [2,3,44,22,37,68]
list1[-1:] + list1[1:-1] + list1[:1]

[68, 3, 44, 22, 37, 2]

In [13]:
list1 = [1,2,3,4,5]
list1[-1:] + list1[1:-1] + list1[:1]

[5, 2, 3, 4, 1]

In [14]:
list1[1:-1]

[2, 3, 4]

In [15]:
list1 = [1,2,3,4,5]
list1[0],list1[1] = list1[1],list1[0]
list1

[2, 1, 3, 4, 5]

In [16]:
list1 = [2,3,4,5]
list1[1],list1[2] = list1[2],list1[1]
list1

[2, 4, 3, 5]

In [2]:
list1 = [1,2,3,4,5]
pos1 = int(input("Enter position 1:"))
pos2 = int(input("Enter position 2:"))
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
list1

[1, 2, 4, 3, 5]

In [3]:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [4]:
list1 = [5,4,3,2,1]
list1.reverse()
list1

[1, 2, 3, 4, 5]

In [6]:
list1 = [1,3,5,7,9]
list2 = reversed(list1)
list(list2)

[9, 7, 5, 3, 1]

In [7]:
list1 = [2,4,6,8,10]
list2 = reversed(list1)
list(list2)

[10, 8, 6, 4, 2]

In [8]:
list1 = [1,2,3,4,5]
list2 = []
for i in range(len(list1) , 0 , -1):
    list2.append(i)
list2

[5, 4, 3, 2, 1]

In [9]:
list1 = [5,4,3,2,1]
list2 = []
for i in range(len(list1) , 0 , -1):
    list2.append(i)
list2

[5, 4, 3, 2, 1]

In [10]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
list1.count(1)

6

In [11]:
list1.count(2)

7

In [12]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
num = 3
count1 = 0 
for i in list1:
    if i == num:
        count1 += 1
print(count1)

5

In [13]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
num = 4
count1 = 0 
for i in list1:
    if i == num:
        count1 += 1
print(count1)

5

In [14]:
list1 = [1,2,3,4,5]
sum1 = 0 
for i in list1:
    sum1 = sum1 + i
print("Sum of elements:", sum1)

Sum of elements: 15

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum1 = 0 
for i in list1:
    sum1 = sum1 + i
print("Sum of elements:", sum1)

Sum of elements: 55

In [16]:
list1 = [1,2,3,4,5]
mul = 1
for i in list1:
    mul = mul * i 
print("mul of elements:", mul)

mul of elements: 120

In [17]:
list1 = [1,3,5,7,9]
mul = 1
for i in list1:
    mul = mul * i
print("mul of elements:",mul)

mul of elements: 945

In [18]:
list1 = [1,3,5,7,9]
len(list1)

5

In [19]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(range(len(list1)))

range(0, 15)

In [20]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
print(range(len(list1)))

range(0, 23)

In [21]:
list1 = [1,2,3,4,5]
counter = 0 
for i in list1:
    counter += 1 
print(counter)

5

In [22]:
list1 = [1,2,3,4,5]
smallest = list1[0]
greatest = list1[1]

for i in range(len(list1)):
    if list1[i] <= smallest:
        smallest = list1[i]
print("Smallest number in the list:", smallest)

for i in range(len(list1)):
    if list1[i] >= greatest:
        greatest = list1[i]
print("Greatest number in the list:", greatest)

Smallest number in the list: 1
Greatest number in the list: 5

In [24]:
list1 = [1,2,3,4,5,6,7]
smallest = list1[3]
largest = list1[2]
for i in range(len(list1)):
    if list1[i] <= smallest:
        smallest = list1[i]
print("Smallest number in the list:", smallest)

for i in range(len(list1)):
    if list1[i] >= largest:
        largest = list1[i]
print("Largest number in the list:", largest)

Smallest number in the list: 1
Largest number in the list: 7

In [31]:
list1 = []
num = int(input("How many numbers you want in the list:"))
for i in range(num):
    i = input("Enter the item you want in the list:")
    list.append(i)
print("List is :" , list1)

num1 = int(input("Enter the number you want to remove from the list:"))
for i in range(len(list1)):
    if num1 == list1[i]:
        list1.remove(num1)
        print("Deleted number from list :",num1)
        print(list1)
        break
    else:
        print("Number not found in the list")

TypeError: descriptor 'append' for 'list' objects doesn't apply to a 'str' object

In [32]:
list1 = [2,5,6,12]
list2 = []
for i in list1:
    list2.append(i**2)
print("Original list:",list1)
print("New list:",list2)

Original list: [2, 5, 6, 12]
New list: [4, 25, 36, 144]

In [33]:
list1 = [1,3,5,7,9]
list2 = []
for i in list1:
    list2.append(i**2)
print("Original list:",list1)
print("New list:",list2)

Original list: [1, 3, 5, 7, 9]
New list: [1, 9, 25, 49, 81]

In [34]:
list1 = [1,2,3,4,5]
list2 = []
list2 = [(i**2) for i in list1]
list2

[1, 4, 9, 16, 25]

In [35]:
list1 = [2,4,6,8,10]
list2 = []
list2 = [(i**2) for i in list1]
list2

[4, 16, 36, 64, 100]

In [36]:
even_numbers = []
odd_numbers = []
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

In [37]:
even_numbers = []
odd_numbers = []
for i in range(0, 50):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [38]:
even_numbers = []
even_count = 0
odd_numbers = []
odd_count = 0
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [39]:
even_numbers = []
even_count = 0 
odd_numbers = []
odd_count = 0
for i in range(0, 152):
    if i%2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [40]:
divisible_4 = []
divisible_6 = []
divisible_8 = []
divisible_10 = []
divisible_3 = []
divisible_5 = []
divisible_7 = []
divisible_9 = []

for i in range(0 , 152):
    if i%4 == 0:
        divisible_4.append(i)
    if i%6==0:
        divisible_6.append(i)
    if i%8==0:
        divisible_8.append(i)
    if i%10==0:
        divisible_10.append(i)
    if i%3==0:
        divisible_3.append(i)
    if i%5==0:
        divisible_5.append(i)
    if i%7==0:
        divisible_7.append(i)
    if i%9==0:
        divisible_9.append(i)
print("Numbers divisible by 4 are:",divisible_4)
print()
print("Numbers divisible by 6 are:",divisible_6)
print()
print("Numbers divisible by 8 are:",divisible_8)
print()
print("Numbers divisible by 10 are:",divisible_10)
print()
print("Numbers divisible by 3 are:",divisible_3)
print()
print("Numbers are divisible by 5 are:",divisible_5)
print()
print("Numbers divisible by 7 are:",divisible_7)
print()
print("Numbers divisible by 9 are:",divisible_9)

Numbers divisible by 4 are: [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

Numbers divisible by 6 are: [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]

Numbers divisible by 8 are: [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]

Numbers divisible by 10 are: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

Numbers divisible by 3 are: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150]

Numbers are divisible by 5 are: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

Numbers divisible by 7 are: [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147]

Numbers divisible by 9 are: [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]

In [41]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    if type(i) == float:
        float_list.append(i)
    if type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [42]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    if type(i) == float:
        float_list.append(i)
    if type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [43]:
l1 = [1,2,3,4,5]
l2 = [2,3,4,5,6]
l2.extend(l1)
l2

[2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [44]:
l1 = [1,2,3,4,5]
l2 = [2,3,4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [45]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
sorted_numbers = sorted(set(l1) , reverse=True)
print("Sorted list:",sorted_numbers)
print("Third largest number:",sorted_numbers[2])

Sorted list: [30, 11, 10, 9, 7, 6, 5, 4, 2, 1]
Third largest number: 10

In [46]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
sorted_numbers = sorted(set(l1),reverse=True)
print("Sorted list: ",sorted_numbers)
print("Third largest number: ",sorted_numbers[2])

Sorted list:  [30, 11, 10, 9, 7, 6, 5, 4, 2, 1]
Third largest number:  10

In [47]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] = l2[i] + 1
    else:
        l2[i] = 1
print(l2)

{1: 2, 2: 2, 3: 2, 4: 2}

In [48]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] = l2[i] + 1
    else:
        l2[i] = 1
print(l2)

{1: 2, 2: 2, 3: 2, 4: 2}

In [49]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("l2 is subset of l1")
else:
    print("l2 is not a subset of l1")

l2 is subset of l1

In [50]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("l2 is subset of l1")
else:
    print("l2 is not a subset of l1")

l2 is subset of l1

In [51]:
l1 = [1,2,3]
sub_l1 = [[]]
for i in range(len(l1)+1):
    for j in range(i):
        sub_l1.append(l1[j:i])
sub_l1

[[], [1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

In [52]:
l1 = [1,2,3]
sub_l1 = [[]]
for i in range(len(l1)+1):
    for j in range(i):
        sub_l1.append(l1[j:i])
sub_l1

[[], [1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

In [53]:
l1=[10,20,30,40]
l2=[10,20,30,50]
common_items = set(l1) and set(l2)
print("Common elements are :",common_items)

Common elements are : {10, 20, 50, 30}

In [54]:
l1=[10,20,30,40]
l2=[10,20,30,50]
common_items = set(l1) and set(l2)
print("Common elements are :",common_items)

Common elements are : {10, 20, 50, 30}

In [55]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list is :",flattened_list)

Flattened list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list is :",flattened_list)

Flattened list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
tuple1 = (2,3,5,2,1,4,7,9,4)
tuple2 = list(tuple1)
tuple2.sort()
tuple(tuple2)

(1, 2, 2, 3, 4, 4, 5, 7, 9)

In [58]:
tuple1 = (3,4,5,2,3,5,7,5,8,0)
tuple2 = list(tuple1)
tuple2.sort()
tuple(tuple2)

(0, 2, 3, 3, 4, 5, 5, 5, 7, 8)

In [59]:
l1 = [11,30,50]
for i in l1:
    print(i , end="")

113050

In [60]:
l1 = [22,32,12]
for i in l1:
    print(i , end="")

223212

In [61]:
l1 = [1]
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [62]:
l1 = []
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is empty

In [63]:
l1 = [1,2,3]
l2 = [4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [65]:
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [66]:
l1=[1,2,3,1,2,3,4,5,6,4,5,6]
l1.count(2)

2

In [67]:
l1.count(1)

2

In [68]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Revision of Linear regression 
> Linear regreaaion 
* It is a predictive model used to find the linear relationship between dependent variable and one or more independent variables.
* Which says that it finds out how the value of dependent variable changes according to the value of independent variables.
* It is a parameteric algorithm >> assumptions on distribution of data
* Our aim in linear regression is to find the linear relationship between dependent variable and one or more independent variables.

> Types of Linear Regression
1. SImple Linear Regression 
* If a single independent variable is used to find out the value od dependent variable then it is called as Simple Linear Regression.
* We have only one independent variable.
* y = mx + c
* m >> Slope >> linear regression coefficients >> scale factor to each input value.
* c >> intercept of the line >> gives an additional degree of freedom 
* x >> Independent variable
* y >> dependent variable

2. Multiple Linear Regression
* If we use more than one independent variable to predict the value of dependent variable then it is called as Multiple Linear Regression.
* We have one or more independent variables
* Y = m1X1 + m2X2 + m3X3 + c
* m1,m2,m3 >> slope 
* x1,x2,x3 >> Indepndent variable
* Y >> dependent variable
* Slope >> m = (Y2 - Y1) / (X2 - X1)

> Residuals or errors or coefficients of regression(e)
* Distance between actual value and predicted value is called as error.
* If the observed points are far away from the regression line then the error will be higher and higher will be the cost function.
* If the observed points are near the regression line then the error will be less and less will be the cost function.
* e = Yactual - Ypredicted
* Yactual >> actual value of Y >> Original value .. data point
* Ypredicted >> predicted value of Y >> Value according to  the regression line
* 
> Linear regression line
* A linear line showing linear relationship between dependent variable and one or more independent variables is called as a linear regression line.
* Positive linear relationship : (R = 1)
* If we increase our value in independent variables and accordingly the value in dependent variable increases then such relationship will be called as Positive Linear Relationship.
* Negative linear relationship : (R = -1)
* If we decrease our value in independent variables and accordingly the value in dependent variable decreases then such relationship will be called as Negative Linear Relationship.
* 
> Advantages of Linear Regression
1. Simple to implement and easier to interpret the output coefficients.
2. When you know there is a linear relationship between the dependent variable and the independent variable then this is best algorithm to use and it is less complex as comared to other algorithms.
3. Linear regression is prone to Overfitting and it can be avoided by using the dimensionality reduction technique(PCA) , Regularization(L1 and L2) , Cross Validation.
* 
> Disadvantages of Linear regression
1. When the independent variables are corelated then it may affect the performance of the model.
2. It is only efficient for linear data(High corr between x and y)
3. Sometimes a lot of feature engineering is required.
4. Scaling is required.
5. It is often prone to noise and overfitting.
6. It is sensitive to missing values.
7. It is sensitive to Outliers.
* 
> Applications of Linear regression 
1. Forecasting the data 
2. Analyzing the Time series
3. Prize predictions
4. Salary predictions
* 
> Assumptions of Linear regression
1. Linearity : Linear relationships between the dependent variable and Independent variables
2. NoMulticolinearity : Indepndent variables should be independent to each other.
3. Normality of residuals
4. Homoscedasticity
* 
1. Linearity >> There should be linear relationships between the dependent variable and Independent variables.
* A linear relationship tells us how a unit difference in Independent variable affects the dependent variable.
* An additive relationship tells us that effect of Independent variable on dependent variable is independent of other Independent variable.
* In Linear regression a straight line will be passed through maximum data points as good as possible.
* As the line will be passed through the maximum data points our coefficient of regression will be minimum.
* The line shows linear relationship between independent variable and dependent variable.
* 
> How to check Linearity?
* Coefficient of corelation
* Scatterplot
* Corelation matrix
* 
>

In [1]:
from itertools import permutations

def display_permutations(input_str):
    # Get all permutations using itertools.permutations
    perms = permutations(input_str)

    # Print each permutation
    for perm in perms:
        print(''.join(perm))

# Sample Input
input_string = "cat"

# Display Permutations
display_permutations(input_string)

cat
cta
act
atc
tca
tac

In [1]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
x = OrderedDict(sorted(dict1.items()))
print(x , end=" ")

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [2]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
x = OrderedDict(sorted(dict1.items()))
print(x , end=" ")

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [3]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
for i in sorted(key_value):
    print((i , key_value[i]) , end=" ")

('a', 88) ('d', 42) ('l', 11) ('o', 89) ('p', 5)

In [4]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
for i in sorted(key_value):
    print((i , key_value[i]) , end=" ")

('a', 88) ('d', 42) ('l', 11) ('o', 89) ('p', 5)

In [5]:
def sort(dict1):
    sorted_dict = sorted(dict1.items() , key=lambda x : x[1])
    return sorted_dict
sort({'l':11,'o':89,'a':88,'d':42,'p':5})

[('p', 5), ('l', 11), ('d', 42), ('a', 88), ('o', 89)]

In [6]:
def sort(dict1):
    sorted_dict = sorted(dict1.items() , key=lambda x : x[1])
    return sorted_dict
sort({'l':11,'o':89,'a':88,'d':42,'p':5})

[('p', 5), ('l', 11), ('d', 42), ('a', 88), ('o', 89)]

In [7]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sorted_dict = {i : j for i,j in sorted(dt.items() , key=lambda x : x[1])}
print(sorted_dict)

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [8]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sorted_dict = {i : j for i , j in sorted(dt.items() , key=lambda x : x[1])}
print(sorted_dict)

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [10]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
x = dt.values()
sum(x)

65

In [12]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
y = dt.keys()
x = sorted(y)
x

['aa', 'bb', 'cc', 'dd']

In [13]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
x = dt.values()
sum(x)

65

In [14]:
def return_sum(dict1):
    list1 = []
    for i in dict1:
        list1.append(dict1[i])
    final = sum(list1)

    return final
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [15]:
def return_sum(dict1):
    list1 = []
    for i in dict1:
        list1.append(dict1[i])
    final = sum(list1)

    return final
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [16]:
def return_sum(dict1):
    sum1 = 0 
    for i in dict1.values():
        sum1 = sum1 + i
    return sum1
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [17]:
def return_sum(dict1):
    sum1 = 0 
    for i in dict1.values():
        sum1 = sum1 + i 

    return sum1
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [18]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Mani"]
test_dict

{'Arushi': 22, 'Haritha': 21}

In [19]:
test_dict

{'Arushi': 22, 'Haritha': 21}

In [20]:
del test_dict["Haritha"]
test_dict

{'Arushi': 22}

In [21]:
del test_dict

In [22]:
test_dict

NameError: name 'test_dict' is not defined

In [25]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Mani")

21

In [26]:
test_dict

{'Arushi': 22, 'Haritha': 21}

In [27]:
test_dict.pop("Arushi")

22

In [28]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
x = {**d1 , **d2}
x

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [29]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
x = {**d2 , **d1}
x

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [30]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [31]:
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [32]:
def cal(percent):
    if percent >= 90:
        return "A+"
    if 80 <= percent < 90:
        return "A"
    if 70 <= percent < 80:
        return "B"
    if 60 <= percent < 70:
        return "C"
    if 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0 
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subject:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = cal(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by the student is : {grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 80.0
Grade recieved by the student is : A

In [33]:
def cal(percent):
    if percent >= 90:
        return "A+"
    if 80 <= percent < 90:
        return "A"
    if 70 <= percent < 80:
        return "B"
    if 60 <= percent < 70:
        return "C"
    if 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
def main():
    total_marks = 0
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the mark for the subject:"))
        total_marks = total_marks + marks

    average_percent = total_marks / no_of_subjects
    grade = cal(average_percent)
    print(f"Percentage recieved by the student:{average_percent}")
    print(f"Grade recieved by the subject : {grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student:71.25
Grade recieved by the subject : B

In [34]:
def group_anagrams(words):
    anagram_dict = {}
    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]

    return anagram_dict.values()

def main():
    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram groups:")
    for group in anagram_groups:
        print(group)

if __name__ == "__main__":
    main()

Anagram groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [35]:
def group_anagrams(words):
    anagram_dict = {}

    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]
    return anagram_dict.values()

def main():
    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram groups:")

    for i in anagram_groups:
        print(i)

if __name__ == "__main__":
    main()

Anagram groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [36]:
def group_anagrams(words):

    anagram_dict = {}
    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]

    return anagram_dict.values()

def main():

    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram Groups:")
    for i in anagram_groups:
        print(i)

if __name__ == "__main__":
    main()

Anagram Groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [38]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)

num1 = 10 
num2 = 20 
if check_bin(num1 , num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagrams")

The binary representation of 10 and 20 are not anagrams

In [39]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)

num1 = 20 
num2 = 25
if check_bin(num1 , num2):
    print(f"The Binary representation of {num1} and {num2} are anagrams.")
else:
    print(f"The Binary representation of {num1} and {num2} are not anagrams")

The Binary representation of 20 and 25 are not anagrams

In [40]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)
num1 = 20 
num2 = 20 
if check_bin(num1 , num2):
    print(f"The Binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The Binary representation of {num1} and {num2} are not anagrams")

The Binary representation of 20 and 20 are anagrams

In [41]:
from collections import defaultdict
from collections import Counter
words = ["cat" , "dog" , "tac" , "god" ,"act"]
anagram_groups = defaultdict(list)

for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram groups:",max_anagram)

Size of the largest anagram subset: 3
Largest anagram groups: [['cat', 'tac', 'act']]

In [42]:
from collections import defaultdict
from collections import Counter
words = ["cat" , "dog" , "tac" , "god" , "act"]

anagram_groups = defaultdict(list)

for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram group(s):",max_anagram)

Size of the largest anagram subset: 3
Largest anagram group(s): [['cat', 'tac', 'act']]

In [43]:
from collections import defaultdict,Counter
words = ["cat", "dog", "tac", "god", "act"]
anagram_groups = defaultdict(list)
for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram group(s):",max_anagram)

Size of the largest anagram subset: 3
Largest anagram group(s): [['cat', 'tac', 'act']]

In [44]:
def find_mirror_charcters(input_string):
    mirror_dict = {'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v',
                   'f': 'u', 'g': 't', 'h': 's', 'i': 'r', 'j': 'q',
                   'k': 'p', 'l': 'o', 'm': 'n', 'n': 'm', 'o': 'l',
                   'p': 'k', 'q': 'j', 'r': 'i', 's': 'h', 't': 'g',
                   'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c', 'y': 'b', 'z': 'a'}
    mirror_charcacters = set()

    for char in input_string:
        mirror_char = mirror_dict.get(char.lower() , None)
        if mirror_char and mirror_char in input_string.lower():
            mirror_charcacters.add(char.lower())
    return mirror_charcacters
# Example 
input_string = "Abhishek"
result = find_mirror_charcters(input_string)
print("Mirror characters:",result)

Mirror characters: {'h', 's'}

In [45]:
def find_mirror_charcters(input_string):
    mirror_dict = {'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v',
                   'f': 'u', 'g': 't', 'h': 's', 'i': 'r', 'j': 'q',
                   'k': 'p', 'l': 'o', 'm': 'n', 'n': 'm', 'o': 'l',
                   'p': 'k', 'q': 'j', 'r': 'i', 's': 'h', 't': 'g',
                   'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c', 'y': 'b', 'z': 'a'}
    mirror_characters = set()
    for char in input_string:
        mirror_char = mirror_dict.get(char.lower(), None)
        if mirror_char and mirror_char in input_string.lower():
            mirror_characters.add(char.lower())
    return mirror_characters

# Example usage 
input_string = "Wakchuare"
result = find_mirror_charcters(input_string)
print("Mirror characters:",result)

Mirror characters: set()

In [47]:
def count_freq(list1):
    freq = {}

    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))

result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [48]:
def count_freq(list1):
    freq = {}

    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))
result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [49]:
def count_freq(list1):
    freq = {}
    
    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))

result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [50]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [51]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [52]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [53]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [54]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [55]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [56]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

sorted_tuples = sorted(tuples_list , key=lambda x : x[1])
sorted_tuples

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [57]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]
sorted_tuples = sorted(tuples_list , key=lambda x : x[1])
sorted_tuples

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [58]:
def fact(n):
    fact = 1 
    for i in range(1 , n+1):
        fact = fact * i 
    return fact

In [60]:
def fact(n):
    fact = 1 
    for i in range(1 , n+1):
        fact = fact * i
    return fact
fact(10)

3628800

In [61]:
def fact(n):
    fact = 1 
    for i in range(1 , n+1):
        fact = fact * i
    return fact
fact(5)

120

In [64]:
n = 15
m = []
for i in range(2 , n):
    if n%i==0:
        if i%2!=0:
            m.append(i)
print(m)
sum1 = 0 
for i in m:
    sum1 = sum1 + i 
print("Sum of Odd factors of a number:",sum1)

[3, 5]
Sum of Odd factors of a number: 8

In [65]:
n = 21
m = []
for i in range(2 , n):
    if n%i==0:
        if i%2!=0:
            m.append(i)
print(m)
sum1 = 0 
for i in m:
    sum1 = sum1 + i 
print("Sum of Odd factors of a number:",sum1)

[3, 7]
Sum of Odd factors of a number: 10

In [66]:
n = 33
m = []
for i in range(2 , n):
    if n%i==0:
        if i%2!=0:
            m.append(i)

print(m)
sum1 = 0 
for i in m:
    sum1 = sum1 + i
print("SUm of Odd factors of a number:",sum1)

[3, 11]
SUm of Odd factors of a number: 14

In [67]:
def generate_inventory_report(transaction_log):
    inventory = {}

    # Process each line in the transaction log
    for line in transaction_log.strip().split('\n'):
        item, quantity = line.split()
        quantity = int(quantity)

        # Update the inventory based on the transaction
        if item in inventory:
            inventory[item] += quantity
        else:
            inventory[item] = quantity

    # Print the inventory report
    print("Warehouse Inventory Report:")
    print("{:<10} {:<10}".format("Item", "Quantity"))
    print("-" * 20)
    for item, quantity in inventory.items():
        print("{:<10} {:<10}".format(item, quantity))

# Example usage with the provided transaction log
transaction_log = """
Item1   10  
Item2    1    
Item1   -5          
Item3   40        
Item2   -1      
"""

generate_inventory_report(transaction_log)

Warehouse Inventory Report:
Item       Quantity
--------------------
Item1      5
Item2      0
Item3      40

In [68]:
n = 12 
m = []
n1 = []
for i in range(1,12):
    if n%i==0:
        m.append(i)
        if i%2!=0:
            n1.append(i)
print(f"Divisors of {n} are:",m)
print(f"Odd divisors of {n} are:",n1)

Divisors of 12 are: [1, 2, 3, 4, 6]
Odd divisors of 12 are: [1, 3]

In [70]:
n = 15 
m = []
n1 = []
for i in range(1,15):
    if n%i==0:
        m.append(i)
        if i%2!=0:
            n1.append(i)
print(f"Divisors of {n} are:",m)
print(f"Odd divisors of {n} are:",n1)

Divisors of 15 are: [1, 3, 5]
Odd divisors of 15 are: [1, 3, 5]

In [72]:
n = 18 
m = []
n1 = []
for i in range(1,18):
    if n%i==0:
        m.append(i)
        if i%2!=0:
            n1.append(i)
print(f"Divisors of {n} are:",m)
print(f"Odd divisors of {n} are:",n1)

Divisors of 18 are: [1, 2, 3, 6, 9]
Odd divisors of 18 are: [1, 3, 9]

In [74]:
m1 = []
m2 = []
n1 = int(input("Enter Number 1 :"))
for i in range(1,n1):
    if n1%i==0:
        m1.append(i)
print(f"Divisors of {n1} are:",m1)

n2 = int(input("Enter Number 2 :"))
for i in range(1,n2):
    if n2%i==0:
        m2.append(i)
print(f"Divisors of {n2} are:",m2)

common_divisors = set(m1) & set(m2)
print(f"Common divisors of {n1} and {n2} are:",common_divisors)

Divisors of 10 are: [1, 2, 5]
Divisors of 20 are: [1, 2, 4, 5, 10]
Common divisors of 10 and 20 are: {1, 2, 5}

In [75]:
m1 = []
m2 = []
n1 = int(input("Enter Number 1 :"))
for i in range(1,n1):
    if n1%i==0:
        m1.append(i)
print(f"Divisors of {n1} are :",m1)
n2 = int(input("Enter Number 2 :")) 
for i in range(1, n2):
    if n2%i==0:
        m2.append(i)
print(f"Divisors of {n2} are :",m2)
common_divisors = set(m1) & set(m2)
print(f"Common divisors of {n1} and {n2} are :",common_divisors)

Divisors of 12 are : [1, 2, 3, 4, 6]
Divisors of 14 are : [1, 2, 7]
Common divisors of 12 and 14 are : {1, 2}

In [76]:
n = 8 
m = []
for i in range(1, n):
    if n%i==0:
        m.append(i)
print(f"Divisors of {n} are :",m)
count = 0 
for i in range(len(m)):
    count = count + i
print("Number of divisors are:",count)
if count%2==0:
    print("Count of divisors are even.")
else:
    print("Count of divisors are odd.")

Divisors of 8 are : [1, 2, 4]
Number of divisors are: 3
Count of divisors are odd.

In [77]:
n = 14
m = []
for i in range(1, n):
    if n%i==0:
        m.append(i)
print(f"Divisors of {n} are :",m)
count = 0
for i in range(len(m)):
    count = count + i
print("Number of divisors are:",count)
if count%2==0:
    print("Count of Divisors are even")
else:
    print("Count of Divisors are Odd")

Divisors of 14 are : [1, 2, 7]
Number of divisors are: 3
Count of Divisors are Odd

In [80]:
def min_sum_of_factors(num):
    factors = []
    i = 2

    while i <= num:
        if (num % i) == 0:
            factors.append(i)
            num = num / i
        else:
            i += 1

    # Calculate the sum of factors
    sum_of_factors = sum(factors)

    return sum_of_factors

# Example usage
number = int(input("Enter a number: "))
result = min_sum_of_factors(number)
print(f"The minimum sum of factors of {number} is: {result}")

The minimum sum of factors of 8 is: 6

In [81]:
def digit_differences(number):

    num = str(number)
    odd_sum = 0 
    even_sum = 0
    for i in num:
        digit = int(num)

        if digit%2==0:
            even_sum += digit
        else:
            odd_sum += digit

    diff = odd_sum - even_sum

    return diff
input_number = int(input("Enter a number: "))
result = digit_differences(input_number)
print(f"The difference between the sums of odd and even digits is: {result}")

The difference between the sums of odd and even digits is: -13824

In [82]:
x = int(input("Enter a number: "))
l = []
for i in range(100,999):
    if i%x == 0:
        l.append(i)
print(l)
print(f"Largest of 2 digit number divisible by {x} is :",max(l))
print(f"Smallest of 2 digit number divisible by {x} is :",min(l))

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998]
Largest of 2 digit number divisible by 1 is : 998
Smallest of 2 digit number divisible by 1 is : 100

In [83]:
x = int(input("Enter a number: "))
l = []
for i in range(100,999):
    if i%x == 0:
        l.append(i)
print(l)
print(f"Largest of 2 digit number divisible by {x} is :",max(l))
print(f"Smallest of 2 digit number divisible by {x} is :",min(l))

[105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]
Largest of 2 digit number divisible by 7 is : 994
Smallest of 2 digit number divisible by 7 is : 105

In [85]:
n = 24 
divisors = []
even_divisors = []
for i in range(1 , n):
    if n%i == 0:
        divisors.append(i)
        if i%2==0:
            even_divisors.append(i)
print("List of divisors of given number are:",divisors)
print(f"List of even divisors of given number are:",even_divisors)
print(f"Sum of even divisors of given number are:",sum(even_divisors))

List of divisors of given number are: [1, 2, 3, 4, 6, 8, 12]
List of even divisors of given number are: [2, 4, 6, 8, 12]
Sum of even divisors of given number are: 32

In [88]:
n = "39"
s = list(n)
m = []
for i in s:
    if int(n)%int(i)==0:
        m.append(i)
m

['3']

In [89]:
n = "26"
s = list(n)
m = []
for i in s:
    if int(n)%int(i)==0:
        m.append(i)
m

['2']

In [90]:
with open("Abhishek.txt", "w") as f:
    f.write("line1 \n line2 \n line3 \n line4 \n")

In [93]:
f = open("Abhishek.txt", "r")
f.read()
f.seek(0)
f.readline(3)
f.close()

In [94]:
f = open("Abhishek.txt", "r")
fn1 = open("Copy.txt","w")

content = f.readlines()
type(content)
for i in range(1 , len(content)):
    if i%2!=0:
        fn1.write(content[i])
    else:
        pass
fn1.close()

In [96]:
with open("Copy.txt" , "r") as fn1:
    fn1.read()

In [97]:
f = open("Copy.txt" , "r")
f.read()

' line2 \n line4 \n'

In [98]:
f = open("Abhishek.txt","r")
fn = open("Copy.txt","w")
content = f.readlines()
type(content)
for i in range(1 , len(content)):
    if i%2==0:
        fn.write(content[i])
    else:
        pass
fn.close()

In [99]:
f = open("Copy.txt" , "r")
f.read()

' line3 \n'

In [100]:
from datetime import datetime
input_date = "2003-08-23"
date_object = datetime.strptime(input_date , "%Y-%m-%d")
output_date = date_object.strftime("%d-%m-%Y")
output_date

'23-08-2003'

In [101]:
from datetime import datetime
input_date = "2024-08-23"
date_object = datetime.strptime(input_date , "%Y-%m-%d")
output_date = date_object.strftime("%d-%m-%Y")
output_date

'23-08-2024'

In [102]:
string = "abhishek wakchuare is a good boy"
t = string.split()
m = []
for i in t:
    if i[0] == "a" or i[0] == "e":
        m.append(i)
print("List of words starting with a or e in given string:",m)

List of words starting with a or e in given string: ['abhishek', 'a']

In [1]:
subject_marks = [("English",88) , ("Science",90) , ("Maths",97) , ("Social sciences",82)]
print("Otiginal list of tuples:")
print(subject_marks)
subject_marks.sort(key=lambda x : x[1])
print("\n Sorting the list of tuples:")
print(subject_marks)

Otiginal list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

 Sorting the list of tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [2]:
subject_marks = [("English",88) , ("Science",90) , ("Maths",97) , ("Social sciences",82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key=lambda x : x[0])
print("\n Sorting the list of tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

 Sorting the list of tuples:
[('English', 88), ('Maths', 97), ('Science', 90), ('Social sciences', 82)]

In [3]:
subject_marks = [("English",88) , ("Science",90) , ("Maths",97) , ("Social sciences",82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key=lambda x : x[1])
print("\n Sorting the list of tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

 Sorting the list of tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [5]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
print("The list printed sorting by age:")
print(sorted(list1 , key=lambda x : x["age"]))
print("\r")

print("The list printed sorting by age and name:")
print(sorted(list1 , key=lambda x : (x["age"] , x["name"])))
print("\r")

print("The list printed sorting by age in descending order:")
print(sorted(list1 , key=lambda x : x["age"] , reverse=True))

The list printed sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

The list printed sorting by age and name:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

The list printed sorting by age in descending order:
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

In [6]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
print("The list sorting by age:")
print(sorted(list1 , key=lambda x : x["age"]))
print("\r")

print("The list sorting by age and name:")
print(sorted(list1 , key=lambda x : (x["age"] , x["name"])))
print("\r")

print("The list printed sorting by age in descending order")
print(sorted(list1 , key= lambda x : x["age"] , reverse=True))

The list sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

The list sorting by age and name:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

The list printed sorting by age in descending order
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

In [7]:
input_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

square_result = [(lambda x : x**2)(num) for num in input_numbers]
cube_result = [(lambda x : x**3)(num) for num in input_numbers]
print("Original list of integers:", input_numbers)
print("\nSquare of every number:")
print(square_result)
print("\nCube of every number:")
print(cube_result)

Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square of every number:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Cube of every number:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
input_numbers = [1,2,3,4,5,6,7,8,9,10]
square_result = [(lambda x : x**2)(num) for num in input_numbers]
cube_result = [(lambda x : x**3)(num) for num in input_numbers]
print("Original list of integers:", input_numbers)
print("\nSquare of every number:")
print(square_result)
print("\nCube of every number:")
print(cube_result)

Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square of every number:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Cube of every number:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
square_result = (lambda list1 : [i**2 for i in list1])([1,2,3,4])
square_result

[1, 4, 9, 16]

In [10]:
cube_result = (lambda list1 : [i**3 for i in list1])([1,2,3,4])
cube_result

[1, 8, 27, 64]

In [11]:
square_result = (lambda list1 : [i**2 for i in list1])([1,2,3,4])
square_result

[1, 4, 9, 16]

In [14]:
cube_result = (lambda list1 : [i**3 for i in list1])([1,2,3,4,5])
cube_result

[1, 8, 27, 64, 125]

In [15]:
starts_with = lambda x : True if x.startswith("P") else False
print(starts_with("Python"))

True

In [16]:
starts_with = lambda x : True if x.startswith("O") else False
print(starts_with("Abhishek"))

False

In [17]:
starts_with = lambda y : True if y.startswith("U") else False
print(starts_with("Abhishek"))

False

In [18]:
import re
x = (lambda y : re.findall("^p" , y))(y = "Abhishek")
x

[]

In [19]:
x = (lambda y : re.findall("^t", y))(y = "Abhishek")
x

[]

In [20]:
x = (lambda y : y.startswith("u"))(y = "Abhishek")
x

False

In [21]:
x = (lambda y : y.startswith("p"))(y = "pepe")
x

True

In [22]:
x = (lambda y : y.startswith("l"))(y = "pepe")
x

False

In [23]:
from functools import reduce
fib = lambda n : reduce(lambda n,_:n+[n[-1]+n[-2]] , range(n-2) , [0,1])
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [24]:
n = 9 
f1 = 0 
f2 = 1 
print(f1 , f2, end=" ")
for i in range(2 , n):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3 , end=" ")

0 1 1 2 3 5 8 13 21

In [25]:
n= 10 
f1 = 0 
f2 = 1 
print(f1 , f2, end=" ")
for i in range(2 , n):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3 , end=" ")

0 1 1 2 3 5 8 13 21 34

In [26]:
n= 15 
f1 = 0 
f2 = 1 
print(f1 , f2 , end=" ")
for i in range(2 , n):
    f3 = f1 + f2 
    f1,f2 = f2,f3
    print(f3 , end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [27]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
x = list(filter(lambda x : x in list1,list2))
x

[3, 4]

In [28]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
x = list(filter(lambda x : x in list1,list2))
x

[3, 4]

In [29]:
list1 = [-1,2,-3,5,7,8,9,-10]
r = lambda list1 : [x for x in list1 if x>=0] + [x for x in list1 if x < 0]
l2 = r(list1)
l2

[2, 5, 7, 8, 9, -1, -3, -10]

In [30]:
list1 = [-1,2,-3,5,7,8,9,-10]
r = lambda list1 : [x for x in list1 if x < 0] + [x for x in list1 if x>=0]
l2 = r(list1)
l2

[-1, -3, -10, 2, 5, 7, 8, 9]

In [31]:
list1 = [-1,2,-3,5,7,8,9,-10]
r = lambda list1 : [x for x in list1 if x<0] + [x for x in list1 if x>=0]
l2 = r(list1)
l2

[-1, -3, -10, 2, 5, 7, 8, 9]

In [32]:
array_nums = [1,2,3,5,7,8,9,10]
print("Original arrays:")
print(array_nums)
even_count = len(list(filter(lambda x : (x%2==0),array_nums)))
odd_count = len(list(filter(lambda x : (x%2!=0),array_nums)))
print("\nNumbers of even numbers in the array:",even_count)
print("\nNumbers of odd numbers in the array:",odd_count)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]

Numbers of even numbers in the array: 3

Numbers of odd numbers in the array: 5

In [33]:
array_nums = [1,2,3,4,5,6,7,8,9,10]
print("Original arrays:")
print(array_nums)
even_count = len(list(filter(lambda x : (x%2==0),array_nums)))
odd_count = len(list(filter(lambda x : (x%2!=0),array_nums)))
print("Numbers of even count is :",even_count)
print("Numbers of Odd count is :",odd_count)

Original arrays:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Numbers of even count is : 5
Numbers of Odd count is : 5

In [34]:
list1 = [1,2,3]
list2 = [4,5,6]
add = map(lambda x1,x2 : x1+x2 ,list1,list2)
list(add)

[5, 7, 9]

In [35]:
list1 = [1,2,3]
list2 = [4,5,6]
add = map(lambda x1,x2 : x1+x2 , list1,list2)
list(add)

[5, 7, 9]

In [36]:
list1 = [1,2,3]
list2 = [4,5,6]
mul = map(lambda x1,x2 : x1*x2 , list1,list2)
list(mul)

[4, 10, 18]

In [37]:
list1 = [1,2,3]
list2 = [4,5,6]
div = map(lambda x1,x2 : x1/x2 , list1 , list2)
list(div)

[0.25, 0.4, 0.5]

In [38]:
list1 = [13,26,38,39,57,15,17]
x = list(filter(lambda x : (x%13==0 or x%19==0) , list1))
x

[13, 26, 38, 39, 57]

In [39]:
list1 = [13,26,38,39,57,15,17]
x = list(filter(lambda x : (x%13!=0 or x%19!=0),list1))
x

[13, 26, 38, 39, 57, 15, 17]

In [40]:
list1 = [13,26,38,39,57,15,17]
x = list(filter(lambda x: (x%13==0 or x%19==0),list1))
x

[13, 26, 38, 39, 57]

In [46]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
print("Original list of strings:")
print(texts)
x = list(filter(lambda x : (x =="".join(reversed(x))),texts))
x

Original list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

['php', 'aaa']

In [47]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
print("Original list of strings:")
print(texts)
x = list(filter(lambda x : (x == "".join(reversed(x))),texts))
x

Original list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

['php', 'aaa']

In [48]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
print("Original list of strings:")
print(texts)
x = list(filter(lambda x : (x == "".join(reversed(x))),texts))
x

Original list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

['php', 'aaa']

In [49]:
from collections import Counter
texts = ["bcda","abce","cbda","cbea","adcb"]
str = "abcd"
print("Original list of strings:")
print(texts)
result = list(filter(lambda x : (Counter(str) == Counter(x)), texts))
print(result)

Original list of strings:
['bcda', 'abce', 'cbda', 'cbea', 'adcb']
['bcda', 'cbda', 'adcb']

In [50]:
from collections import Counter
texts = ["bcda","abce","cbda","cbea","adcb"]
str = "abcd"
print("Original list of strings:")
print(texts)
result = list(filter(lambda x : (Counter(str) == Counter(x)),texts))
print(result)

Original list of strings:
['bcda', 'abce', 'cbda', 'cbea', 'adcb']
['bcda', 'cbda', 'adcb']

In [51]:
list1 = [2,3,4,5]
list2 = list(map(lambda x : x*5 , list1))
list2

[10, 15, 20, 25]

In [53]:
list1 = [2,3,4,5]
list2 = list(map(lambda x : x**2 , list1))
list2

[4, 9, 16, 25]

In [54]:
list1 = [-1,-2,3,4]
positive_number = list(filter(lambda list1 : list1 > 0 , list1))
negative_number = list(filter(lambda list1 : list1 < 0 , list1))
print("Sum of Positive numbers are:",sum(positive_number))
print("Sum of Negative numbers are :",sum(negative_number))

Sum of Positive numbers are: 7
Sum of Negative numbers are : -3

In [55]:
list1 = [-1,-2,3,4]
positive_number = list(filter(lambda list1 : list1 > 0 , list1))
negative_number = list(filter(lambda list1 : list1 < 0 , list1))
print("Sum of Positive numbers are:",sum(positive_number))
print("Sum of Negative numbers are :",sum(negative_number))

Sum of Positive numbers are: 7
Sum of Negative numbers are : -3

In [57]:
list1 = [[0],[1,3],[5,7],[9,11],[13,15,17]]
max_list = max(list1 , key=lambda x : len(x))
min_list = min(list1 , key=lambda x : len(x))
print(max_list)
print(min_list)

[13, 15, 17]
[0]

In [58]:
list1 = [[0],[1,3],[5,7],[9,11],[13,15,17]]
max_list = max(list1 , key=lambda x : len(x))
min_list = min(list1 , key=lambda x : len(x))
print(max_list)
print(min_list)

[13, 15, 17]
[0]

In [60]:
nums1 = [1,2,4,6,8,10,12,14,18,17]
x = bool(filter(lambda nums1 : (nums1 == sorted(nums1)), nums1))
x

True

In [61]:
is_sorted = lambda x : x == sorted(x)
sample_list_1 = [1, 2, 3, 4, 5]
sample_list_2 = [5, 3, 1, 4, 2]
print("Is sample_list_1 sorted?", is_sorted(sample_list_1))
print("Is sample_list_2 sorted?", is_sorted(sample_list_2))

Is sample_list_1 sorted? True
Is sample_list_2 sorted? False

In [62]:
is_sorted = lambda x : x == sorted(x)
sample_list_1 = [1, 2, 3, 4, 5]
sample_list_2 = [5, 3, 1, 4, 2]
print("Is sample_list_1 sorted?", is_sorted(sample_list_1))
print("Is sample_list_2 sorted?", is_sorted(sample_list_2))

Is sample_list_1 sorted? True
Is sample_list_2 sorted? False

In [63]:
is_sorted = lambda x : x == sorted(x)
sample_list_1 = [1, 2, 3, 4, 5]
sample_list_2 = [5, 3, 1, 4, 2]
print("Is sample_list_1 sorted?", is_sorted(sample_list_1))
print("Is sample_list_2 sorted?", is_sorted(sample_list_2))

Is sample_list_1 sorted? True
Is sample_list_2 sorted? False

In [65]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]
result = list(filter(lambda x : x not in list2 , list1))
result

[1, 3, 5, 7, 9, 10]

In [66]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]
result = list(filter(lambda x : x not in list1 , list2))
result

[]

In [67]:
tuple_str = (("223","ABCD","33") , ("1416","EFGH","55") , ("2345","WERT","34"))
result = tuple(map(lambda x : (int(x[0]) , int(x[2])) , tuple_str))
result

((223, 33), (1416, 55), (2345, 34))

In [68]:
tuple_str = (("223","ABCD","33") , ("1416","EFGH","55") , ("2345","WERT","34"))
result = tuple(map(lambda x : (int(x[0]) , int(x[2])),tuple_str))
result

((223, 33), (1416, 55), (2345, 34))

In [69]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x , list(nums).count(x)) , nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [70]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x , list(nums).count(x)),nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [71]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x , list(nums).count(x)),nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [72]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3 , l1,l2,l3))
result

[12, 15, 18]

In [73]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3 ,l1 , l2 ,l3))
result

[12, 15, 18]

In [74]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3 , l1,l2,l3))
result

[12, 15, 18]

In [75]:
l1 = ["yellow","blue","tricolor"]
x = list(map(list , l1))
x

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [76]:
l1 = ["yellow","blue","tricolor"]
x = list(map(list , l1))
x

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [77]:
l1 = ["yellow","blue","tricolor"]
x = list(map(list , l1))
x

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [78]:
l1 = [12,15,18]
result = list(map(lambda x : x**2 , l1))
result

[144, 225, 324]

In [79]:
l1 = [23,25,30]
result = list(map(lambda x : x**2 , l1))
result

[529, 625, 900]

In [80]:
l1 = [2,33,44]
result = list(map(lambda x : x**3 , l1))
result

[8, 35937, 85184]

In [81]:
l1 = [2,3,4]
l2 = [1,2,3]
l3 = list(set(l1) - set(l2))
l4 = list(set(l2) - set(l1))
print(l3)
print(l4)
l5 = l3 + l4
l5

[4]
[1]

[4, 1]

In [83]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
add = list(map(lambda x1,x2 : x1+x2 , list1 , list2))
sub = list(map(lambda x1,x2 : x1-x2 , list1 , list2))
print("List 1:", list1)
print("List 2:", list2)
print("Sum of corresponding elements:", add)
print("Differences between corresponding elements:", sub)

List 1: [1, 2, 3, 4, 5]
List 2: [5, 4, 3, 2, 1]
Sum of corresponding elements: [6, 6, 6, 6, 6]
Differences between corresponding elements: [-4, -2, 0, 2, 4]

In [84]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
add = list(map(lambda x1,x2 : x1+x2 , list1 ,list2))
sub = list(map(lambda x1,x2 : x1-x2 , list1 , list2))
print("List 1:", list1)
print("List 2:", list2)
print("Sum of corresponding elements:", add)
print("Differences between corresponding elements:", sub)

List 1: [1, 2, 3, 4, 5]
List 2: [5, 4, 3, 2, 1]
Sum of corresponding elements: [6, 6, 6, 6, 6]
Differences between corresponding elements: [-4, -2, 0, 2, 4]

In [88]:
num_array = [1, 2, 3, 4, 5]
sum_result = sum(map(lambda x : x , num_array))
sum_result

15

In [90]:
num_array = [1, 2, 3, 4, 5 , 6]
sum_result = sum(map(lambda x : x , num_array ))
sum_result

21

In [91]:
num_array = [1, 2, 3, 4, 5 , 6 , 7]
sum_result = sum(map(lambda x : x , num_array))
sum_result

28

In [92]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]

sum_list = sum(map(lambda x,y : x == y , list1 , list2))
sum_list

2

In [94]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]

sum_list = sum(map(lambda x,y : x==y , list1 , list2))
sum_list

2

In [95]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]

sum_list = sum(map(lambda x,y : x==y , list1 , list2))
sum_list

2

In [96]:
str1 = ["python","machine","learning"]
result = list(map(list , str1))
result

[['p', 'y', 't', 'h', 'o', 'n'],
 ['m', 'a', 'c', 'h', 'i', 'n', 'e'],
 ['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']]

In [97]:
str1 = ["python","machine","learning"]
result = list(map(list , str1))
result

[['p', 'y', 't', 'h', 'o', 'n'],
 ['m', 'a', 'c', 'h', 'i', 'n', 'e'],
 ['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']]

In [98]:
str1 = ["python","machine","learning"]
result = list(map(list , str1))
result

[['p', 'y', 't', 'h', 'o', 'n'],
 ['m', 'a', 'c', 'h', 'i', 'n', 'e'],
 ['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']]

In [100]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join , list_tup))
result

['python machine', 'learning data science']

In [101]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join , list_tup))
result

['python machine', 'learning data science']

In [102]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join , list_tup))
result

['python machine', 'learning data science']

In [103]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l1 , l2))
result

[4, 5, 6]

In [105]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l2 , l1))
result

[3]

In [106]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l1 , l2))
result

[4, 5, 6]

In [108]:
from nltk.corpus import stopwords
stopword_list = stopwords.words("english")

string = "Hi abhishek where are you and what are you doing"
result = list(filter(lambda x : x.lower() not in stopword_list , string))
final = " ".join(result)
final

'H   b h h e k   w h e r e   r e   u   n   w h   r e   u   n g'

In [110]:
from nltk.corpus import stopwords
stopword_list = stopwords.words("english")
string = "Hi abhishek where are you and what are you doing where are you and what are you"
result = list(filter(lambda x : x.lower() not in stopword_list , string))
final = " ".join(result)
final

'H   b h h e k   w h e r e   r e   u   n   w h   r e   u   n g   w h e r e   r e   u   n   w h   r e   u'

In [112]:
from nltk.corpus import stopwords
stopword_list = stopwords.words("english")
string = "Hi abhishek where are you and what are you and what are you and what are you and"
result = list(filter(lambda x : x.lower() not in stopword_list , string))
final = " ".join(result)
final

'H   b h h e k   w h e r e   r e   u   n   w h   r e   u   n   w h   r e   u   n   w h   r e   u   n'

In [113]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x in l2 , l1))
result

[1, 2]

In [114]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x in l1 , l2))
result

[1, 2]

In [115]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x in l1 ,l2))
result

[1, 2]

In [116]:
l1 = [1,2,4,5,6]
result = list(filter(lambda x : x%2!=0 , l1))
result

[1, 5]

In [117]:
l1 = [1,2,4,5,6]
result = list(filter(lambda x : x%2==0  , l1))
result

[2, 4, 6]

In [118]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
result = list(filter(lambda x : x%2!=0 , l1))
result

[1, 3, 5, 7, 9, 11, 13, 15]

In [119]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
result = list(filter(lambda x : x%2==0 , l1))
result

[2, 4, 6, 8, 10, 12, 14, 16]

In [120]:
x = input("Enter a word:")
if x[::] == x[::-1]:
    print("Given strings are palindrome")
else:
    print("Given strings are not palindrome")

Given strings are palindrome

In [121]:
str1 = "Python"
for i in str1:
    print(i)

P
y
t
h
o
n

In [122]:
for i in str1:
    print(i , end="\n")

P
y
t
h
o
n

In [123]:
for i in str1:
    print(i , end="*")

P*y*t*h*o*n*

In [124]:
for index, value in enumerate(str1):
    print(index, value)

0 P
1 y
2 t
3 h
4 o
5 n

In [125]:
for index, value in enumerate(str1):
    print(f"char at index {index} is {value}")

char at index 0 is P
char at index 1 is y
char at index 2 is t
char at index 3 is h
char at index 4 is o
char at index 5 is n

In [126]:
for index, value in enumerate(str1):
    print(f"char at index {index} is {value}")
    print()

char at index 0 is P

char at index 1 is y

char at index 2 is t

char at index 3 is h

char at index 4 is o

char at index 5 is n

In [127]:
city_names=["pune","mumbai","delhi","Chennai","Hyderabad"]
for index , value in enumerate(city_names):
    print(f"CHAR at index {index} is {value}")
    print()

CHAR at index 0 is pune

CHAR at index 1 is mumbai

CHAR at index 2 is delhi

CHAR at index 3 is Chennai

CHAR at index 4 is Hyderabad

In [1]:
list1=[3,4,5,"python",2.9,3,"raj",100,200,3.14]

int_list=[]   # [3,4,5]
float_list=[]  #[2.9]
str_list=[]  #["python"]
for i in list1:
    if type(i) == int:
        int_list.append(i)
    elif type(i) == float:
        float_list.append(i)
    else:
        str_list.append(i)
print("list of intergers: ", int_list)
print("list of float: ", float_list)
print("list of string: ", str_list)

list of intergers:  [3, 4, 5, 3, 100, 200]
list of float:  [2.9, 3.14]
list of string:  ['python', 'raj']

In [2]:
int_list = [i for i in list1 if type(i) == int]
float_list = [i for i in list1 if type(i) == float]
str_list = [i for i in list1 if type(i) == str]
print("list of intergers: ", int_list)
print("list of float: ", float_list)
print("list of string: ", str_list)

list of intergers:  [3, 4, 5, 3, 100, 200]
list of float:  [2.9, 3.14]
list of string:  ['python', 'raj']

In [3]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [4]:
for i in range(5,10):
    print("i==",i)
    if i == 7:
        print("Number found")

i== 5
i== 6
i== 7
Number found
i== 8
i== 9

In [5]:
for i in range(5,10):
    print("i==",i)
    if i == 7:
        print("Number found")
        break
print("Hello")

i== 5
i== 6
i== 7
Number found
Hello

In [6]:
for i in range(5,10):
    print("i==",i)
    if i == 7:
        break
        print("Number found")
print("Hello")

i== 5
i== 6
i== 7
Hello

In [7]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023"""
import re
mob_no = re.findall("[0-9]{10}",text)
print(mob_no)

['7709050463', '9881284917']

In [8]:
mob_no = re.findall("[0-9]{8}",text)
mob_no

['77090504', '98812849']

In [9]:
mob_no = re.findall("[0-9]{5}",text)
mob_no

['77090', '50463', '98812', '84917']

In [10]:
mob_no = re.findall("[0-9]{2}",text)
mob_no

['77',
 '09',
 '05',
 '04',
 '63',
 '98',
 '81',
 '28',
 '49',
 '17',
 '26',
 '07',
 '20',
 '23']

In [12]:
mob_no = re.findall("[0-9]{1}",text)
mob_no

['7',
 '7',
 '0',
 '9',
 '0',
 '5',
 '0',
 '4',
 '6',
 '3',
 '9',
 '8',
 '8',
 '1',
 '2',
 '8',
 '4',
 '9',
 '1',
 '7',
 '2',
 '6',
 '0',
 '7',
 '2',
 '0',
 '2',
 '3']

In [13]:
text

'My mobile is \n        7709050463\n        9881284917\n        Email Id : maheshraje@gmail.com\n        Todays date : 26-07-2023'

In [15]:
date = re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}",text)
date

['26-07-2023']

In [17]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        10-07-2023
        01-06-2022
        19-12-1995
       
        """
date = re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}",text)
date

['26-07-2023', '10-07-2023', '01-06-2022', '19-12-1995']

In [18]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        10-07-2023
        01-06-2022
        19-12-1995
       26/07/2023
        """
date = re.findall("[0-9]{2}[-/][0-9]{2}[-/][0-9]{4}",text)
date

['26-07-2023', '10-07-2023', '01-06-2022', '19-12-1995', '26/07/2023']

In [19]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        10-07-2023
        01-06-2022
        19-12-1995
       26/07/2023
       56/56/5656
       30/34/1234
        """
date = re.findall("[0-3][0-9][-/][0-1][0-9][-/][0-9]{4}",text)
date

['26-07-2023', '10-07-2023', '01-06-2022', '19-12-1995', '26/07/2023']

In [20]:
email = re.findall("[a-z]{2,20}[@][a-z.]{3,10}",text)
email

['maheshraje@gmail.com']

In [25]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        10-07-2023
        01-06-2022
        19-12-1995
       26/07/2023
       56/56/5656
       30/34/1234
       mahesh_raje@gmail.com
    mahesh-raje@gmail.com  
    mahesh.raje@gmail.com  
    mahesh_raje01@gmail.com   
    mahesh_raje007@gmail.com
    mahesh.raje1992@yahoo.com
    mahesh.raje1992@cope.co.in
    mahesh.raje1992@vctcpune.co.in
        """
email = re.findall("[a-z-_.0-9]{2,20}[@][a-z.]{3,15}",text)
email

['maheshraje@gmail.com',
 'mahesh_raje@gmail.com',
 'mahesh-raje@gmail.com',
 'mahesh.raje@gmail.com',
 'mahesh_raje01@gmail.com',
 'mahesh_raje007@gmail.com',
 'mahesh.raje1992@yahoo.com',
 'mahesh.raje1992@cope.co.in',
 'mahesh.raje1992@vctcpune.co.in']

In [26]:
Pancard = '''BFYPA9265J
            BGUPA92675'''
result = re.findall("[A-Z]{5}[0-9]{4}[A-Z]{1}",Pancard)
result

['BFYPA9265J']

In [27]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023"""
date = re.findall(r"\d{2}[-]\d{2}[-]\d{4}",text)
date

['26-07-2023']

In [28]:
mob_no = re.findall(r"\d{10}",text)
mob_no

['7709050463', '9881284917']

In [29]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        1234 5678 9876
        9874 3546 8675"""
date = re.findall(r"\d{4}[ ]\d{4}[ ]\d{4}",text)
date

['1234 5678 9876', '9874 3546 8675']

In [30]:
result = re.findall(r"\D{5}",text)
result

['My mo',
 'bile ',
 'is \n ',
 '     ',
 '\n    ',
 '\n    ',
 '    E',
 'mail ',
 'Id : ',
 'mahes',
 'hraje',
 '@gmai',
 'l.com',
 '\n    ',
 '    T',
 'odays',
 ' date',
 '\n    ',
 '\n    ']

In [31]:
a  = 'Project description Python-tesseract is an optical character recognition (OCR) tool for python. That is, it will recognize and “read” the text embedded in images'
result = re.findall(r"\D{5}",a)
result

['Proje',
 'ct de',
 'scrip',
 'tion ',
 'Pytho',
 'n-tes',
 'serac',
 't is ',
 'an op',
 'tical',
 ' char',
 'acter',
 ' reco',
 'gniti',
 'on (O',
 'CR) t',
 'ool f',
 'or py',
 'thon.',
 ' That',
 ' is, ',
 'it wi',
 'll re',
 'cogni',
 'ze an',
 'd “re',
 'ad” t',
 'he te',
 'xt em',
 'bedde',
 'd in ',
 'image']

In [32]:
a  = '1243Project 12description12 Python-tesseract is an optical character recognition (OCR) tool for python. That is, it will recognize and “read” the text embedded in images'
result = re.findall(r"\D{5}",a)
result

['Proje',
 'descr',
 'iptio',
 ' Pyth',
 'on-te',
 'ssera',
 'ct is',
 ' an o',
 'ptica',
 'l cha',
 'racte',
 'r rec',
 'ognit',
 'ion (',
 'OCR) ',
 'tool ',
 'for p',
 'ython',
 '. Tha',
 't is,',
 ' it w',
 'ill r',
 'ecogn',
 'ize a',
 'nd “r',
 'ead” ',
 'the t',
 'ext e',
 'mbedd',
 'ed in',
 ' imag']

In [33]:
result = re.findall(r"\D{1}",a)
result

['P',
 'r',
 'o',
 'j',
 'e',
 'c',
 't',
 ' ',
 'd',
 'e',
 's',
 'c',
 'r',
 'i',
 'p',
 't',
 'i',
 'o',
 'n',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '-',
 't',
 'e',
 's',
 's',
 'e',
 'r',
 'a',
 'c',
 't',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'o',
 'p',
 't',
 'i',
 'c',
 'a',
 'l',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 ' ',
 'r',
 'e',
 'c',
 'o',
 'g',
 'n',
 'i',
 't',
 'i',
 'o',
 'n',
 ' ',
 '(',
 'O',
 'C',
 'R',
 ')',
 ' ',
 't',
 'o',
 'o',
 'l',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 '.',
 ' ',
 'T',
 'h',
 'a',
 't',
 ' ',
 'i',
 's',
 ',',
 ' ',
 'i',
 't',
 ' ',
 'w',
 'i',
 'l',
 'l',
 ' ',
 'r',
 'e',
 'c',
 'o',
 'g',
 'n',
 'i',
 'z',
 'e',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 '“',
 'r',
 'e',
 'a',
 'd',
 '”',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'e',
 'x',
 't',
 ' ',
 'e',
 'm',
 'b',
 'e',
 'd',
 'd',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 'i',
 'm',
 'a',
 'g',
 'e',
 's']

In [34]:
result = re.findall(r"\D",a)
result

['P',
 'r',
 'o',
 'j',
 'e',
 'c',
 't',
 ' ',
 'd',
 'e',
 's',
 'c',
 'r',
 'i',
 'p',
 't',
 'i',
 'o',
 'n',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '-',
 't',
 'e',
 's',
 's',
 'e',
 'r',
 'a',
 'c',
 't',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'o',
 'p',
 't',
 'i',
 'c',
 'a',
 'l',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 ' ',
 'r',
 'e',
 'c',
 'o',
 'g',
 'n',
 'i',
 't',
 'i',
 'o',
 'n',
 ' ',
 '(',
 'O',
 'C',
 'R',
 ')',
 ' ',
 't',
 'o',
 'o',
 'l',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 '.',
 ' ',
 'T',
 'h',
 'a',
 't',
 ' ',
 'i',
 's',
 ',',
 ' ',
 'i',
 't',
 ' ',
 'w',
 'i',
 'l',
 'l',
 ' ',
 'r',
 'e',
 'c',
 'o',
 'g',
 'n',
 'i',
 'z',
 'e',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 '“',
 'r',
 'e',
 'a',
 'd',
 '”',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'e',
 'x',
 't',
 ' ',
 'e',
 'm',
 'b',
 'e',
 'd',
 'd',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 'i',
 'm',
 'a',
 'g',
 'e',
 's']

In [35]:
result = re.findall(r"\D{1,}",a)
result

['Project ',
 'description',
 ' Python-tesseract is an optical character recognition (OCR) tool for python. That is, it will recognize and “read” the text embedded in images']

In [36]:
a  = '1243Project 12description12 Python-tesseract 12is an optical character recognition (OCR) tool for python. That is, it will recognize and “read” the text embedded in images'
result = re.findall(r"\D{1,}",a)
result

['Project ',
 'description',
 ' Python-tesseract ',
 'is an optical character recognition (OCR) tool for python. That is, it will recognize and “read” the text embedded in images']

In [40]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        10-07-2023
        01-06-2022
        19-12-1995
       26/07/2023
       56/56/5656
       30/34/1234
       mahesh_raje@gmail.com
   
    mahesh.raje@gmail.com  
    mahesh_raje01@gmail.com   
    mahesh_raje007@gmail.com
    mahesh.raje1992@yahoo.com
    mahesh.raje1992@cope.co.in
    mahesh.raje1992@vctcpune.co.in
    
        """
result = re.findall(r"\w{2,20}[@][a-z.]{3,15}",text)
result

['maheshraje@gmail.com',
 'mahesh_raje@gmail.com',
 'raje@gmail.com',
 'mahesh_raje01@gmail.com',
 'mahesh_raje007@gmail.com',
 'raje1992@yahoo.com',
 'raje1992@cope.co.in',
 'raje1992@vctcpune.co.in']

In [41]:
a  = '''1243Project 12description12 Python-tesseract is an optical character recognition 
(OCR) tool for python. That is, it will recognize and “read” the text embedded in images'''

result = re.findall(r"\w{5}",a)
result

['1243P',
 'rojec',
 '12des',
 'cript',
 'ion12',
 'Pytho',
 'tesse',
 'optic',
 'chara',
 'recog',
 'nitio',
 'pytho',
 'recog',
 'embed',
 'image']

In [42]:
a  = '''1243Pro_ject #$% 12description12 Python tesseract is an optical character recognition 
(OCR) tool for python. That is, it will recognize and “read” the text embedded in images'''

result = re.findall(r"\W{1}",a)
result

[' ',
 '#',
 '$',
 '%',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '\n',
 '(',
 ')',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '“',
 '”',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [43]:
text = """My mobile is 
        7709050463
        9881284917
        Email Id : maheshraje@gmail.com
        Todays date : 26-07-2023
        1234 5678 9876
        9874 3546 8675"""
result = re.findall(r"\d{4}\s\d{4}\s\d{4}",text)
result

['1234 5678 9876', '9874 3546 8675']

In [44]:
result = re.findall(r"\S{5}",text)
result

['mobil',
 '77090',
 '50463',
 '98812',
 '84917',
 'Email',
 'mahes',
 'hraje',
 '@gmai',
 'l.com',
 'Today',
 '26-07',
 '-2023']

In [45]:
Pancard = '''BFYPA9265J
            PQRDA92675
            AAAABGUPA9267J1234'''
result = re.findall(r"[A-Z]{5}[0-9]{4}[A-Z]{1}",Pancard)
result

['BFYPA9265J', 'BGUPA9267J']

In [46]:
result = re.findall(r"\b[A-Z]{5}[0-9]{4}[A-Z]{1}",Pancard)
result

['BFYPA9265J']

In [47]:
text = '''IFSC CODE : HDFC0000393     #Valid
                      SBIN0001234     #Valid
                      ABCDHDFC0000234  #Invalid
                      SBIN0004356876  #Invalid
                      '''
result = re.findall("[A-Z]{4}[0-9]{7}",text)
result

['HDFC0000393', 'SBIN0001234', 'HDFC0000234', 'SBIN0004356']

In [51]:
result = re.findall(r"\b[A-Z]{4}\d{7}",text)
result

['HDFC0000393', 'SBIN0001234', 'SBIN0004356']

In [53]:
result = re.findall(r"\b[A-Z]{4}\d{7}\b",text)
result

['HDFC0000393', 'SBIN0001234']

In [54]:
text = """My mobile is 
        7709050463   #Valid
        9881284917   #Valid
        9881594100123 #InValid
        A8298352750   #InValid
        9657000657    #Valid
        98765432134567 #InValid """
mob_no = re.findall("[0-9]{10}",text)
mob_no

['7709050463',
 '9881284917',
 '9881594100',
 '8298352750',
 '9657000657',
 '9876543213']

In [56]:
mob_no = re.findall(r"\b[0-9]{10}\b",text)
mob_no

['7709050463', '9881284917', '9657000657']

In [57]:
mob_no = re.findall(r"\b\d{10}\b",text)
mob_no

['7709050463', '9881284917', '9657000657']

In [59]:
text = "pyhton class pune"
a = re.findall(r"\w{5}",text)
a

['pyhto', 'class']

In [60]:
text = "pyhton and data science class pune "
a = re.findall(r"\b\w{5}\b",text)
a

['class']

In [61]:
a = re.findall(r"\b\w{2,10}\b",text)
a

['pyhton', 'and', 'data', 'science', 'class', 'pune']

In [62]:
text = "pyhton and data science class punea bharat@123 "
a = re.findall(r"\S{1,}",text)
a

['pyhton', 'and', 'data', 'science', 'class', 'punea', 'bharat@123']

In [63]:
a = re.findall("python",text)
a

[]

In [64]:
text = "python and data science class punea python Python "
a = re.findall("python",text)
a

['python', 'python']

In [65]:
text = "python and data science class punea pythonclass Python "
a = re.findall(r"python\b",text)
a

['python']

In [66]:
a = re.findall(r"\bpython\b",text)
a

['python']

In [67]:
text = """My mobile is 
        7709050463   #Valid
        9881284917   #Valid
        9881594100123 #InValid
        A8298352750   #InValid
        9657000657    #Valid
        98765432134567 #InValid """

mob_no = re.search(r"\b\d{10}\b",text)
mob_no

In [68]:
mob_no.span()

(22, 32)

In [69]:
mob_no.start()

22

In [70]:
mob_no.end()

32

In [71]:
mob_no.group()

'7709050463'

In [72]:
text = """My mobile is 
        7709050463   #Valid
        9881284917   #Valid
        9881594100123 #InValid
        A8298352750   #InValid
        9657000657    #Valid
        98765432134567 #InValid """
mob_no = re.sub("\s","",text)
print(mob_no)

Mymobileis7709050463#Valid9881284917#Valid9881594100123#InValidA8298352750#InValid9657000657#Valid98765432134567#InValid

In [73]:
mob_no = re.sub("\W"," ",text)
mob_no

'My mobile is          7709050463    Valid         9881284917    Valid         9881594100123  InValid         A8298352750    InValid         9657000657     Valid         98765432134567  InValid '

In [74]:
text = "python and data science pythonnnn pyttton pytttthonnnn"
text.split()

['python', 'and', 'data', 'science', 'pythonnnn', 'pyttton', 'pytttthonnnn']

In [75]:
text.split("and")

['python ', ' data science pythonnnn pyttton pytttthonnnn']

In [76]:
text = "python 1 and 2 data  3 science pythonnnn pyttton pytttthonnnn"
re.split("[0-9]",text)

['python ', ' and ', ' data  ', ' science pythonnnn pyttton pytttthonnnn']

In [78]:
a = '23-34-55-66-77'
re.split("[-]",a)

['23', '34', '55', '66', '77']

In [80]:
text = "python and      data science      class punea    pythonclass    Python "
string = re.sub("[ ]{1,}" , " ",text)
string

'python and data science class punea pythonclass Python '

In [81]:
string = re.sub("[ ]"," ",text)
string

'python and      data science      class punea    pythonclass    Python '

In [82]:
string = re.sub("[ ]+"," ",text)
string

'python and data science class punea pythonclass Python '

In [83]:
string = re.sub("\s+"," ",text)
string

'python and data science class punea pythonclass Python '

In [84]:
string = re.sub("\s+","@",text)
string

'python@and@data@science@class@punea@pythonclass@Python@'

In [85]:
text = "python and data science pythonnnn  pyttton pytttthonnnn "
string = re.findall("pyt",text)
string

['pyt', 'pyt', 'pyt', 'pyt']

In [86]:
string = re.findall("pyt+",text)
string

['pyt', 'pyt', 'pyttt', 'pytttt']

In [87]:
string = re.findall("[ ]",text)
string

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [88]:
string = re.findall("[ ]+",text)
string

[' ', ' ', ' ', ' ', '  ', ' ', ' ']

In [89]:
text = "python and data science pythonnnn   pyttton    pytttthonnnn"
string = re.findall("[ ]+",text)
string

[' ', ' ', ' ', ' ', '   ', '    ']

In [90]:
text = "python and data science pythonnnn pyttton pytttthonnnn pyhonn"
string = re.findall("pyt",text)
string

['pyt', 'pyt', 'pyt', 'pyt']

In [91]:
string = re.findall("pyt+",text)
string

['pyt', 'pyt', 'pyttt', 'pytttt']

In [92]:
string = re.findall("pyt*",text)
string

['pyt', 'pyt', 'pyttt', 'pytttt', 'py']

In [93]:
string = re.findall("pyt*hon",text)
string

['python', 'python', 'pytttthon', 'pyhon']

In [94]:
text = "python and data science"
result = re.findall("pyt",text)
result

['pyt']

In [95]:
result = re.findall("pyt.",text)
result

['pyth']

In [96]:
result = re.findall("pyt...",text)
result

['python']

In [97]:
text = """python and data science pyt
hon       python"""
result = re.findall("pyt...",text)
result

['python', 'python']

In [98]:
text = "python and data science pythonnnn pyttton pytttthonnnn pyhonn "
result = re.findall("pyt*",text)
result

['pyt', 'pyt', 'pyttt', 'pytttt', 'py']

In [99]:
result = re.findall("pyt?",text)
result

['pyt', 'pyt', 'pyt', 'pyt', 'py']

In [101]:
text = "python and data science pythonnnn pyttton pytttthonnnn pyhonn "
result = re.findall("[^p]",text)
result

['y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'y',
 't',
 'h',
 'o',
 'n',
 'n',
 'n',
 'n',
 ' ',
 'y',
 't',
 't',
 't',
 'o',
 'n',
 ' ',
 'y',
 't',
 't',
 't',
 't',
 'h',
 'o',
 'n',
 'n',
 'n',
 'n',
 ' ',
 'y',
 'h',
 'o',
 'n',
 'n',
 ' ']

In [102]:
result = re.findall("^[a-z]{6}",text)
result

['python']

In [103]:
text = "PYTHON and data science pythonnnn pyttton pytttthonnnn pyhonn "
result = re.findall("^[A-Za-z]{6}",text)
result

['PYTHON']

In [104]:
text = "python and data science pythonnnn pyttton pytttthonnnn pyhonn "
result = re.findall("^p.*",text)
result

['python and data science pythonnnn pyttton pytttthonnnn pyhonn ']

In [105]:
with open("Abhishek.txt","w") as f:
    f.write("""Data Science:
    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge
    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of 
    application domains.""")
    f.close()

In [106]:
with open("Abhishek.txt","r") as f:
    soln = f.read()
    print("Reading entire file")
    print(soln)

Reading entire file
Data Science:
    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge
    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of
    application domains.

In [107]:
f = open("Abhishek.txt","r")
soln = f.readline()
soln

'Data Science:\n'

In [109]:
text = """1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing"""
f = open("Abhishek.txt","a")
f.write(text)
f.close()
f = open("Abhishek.txt","r")
soln = f.read()
soln

'Data Science:\n    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n    application domains.1st:- Data Science\n 2nd:- Machine Learning\n 3rd:- Deep Learning\n 4th:- Natural Language Processing1st:- Data Science\n 2nd:- Machine Learning\n 3rd:- Deep Learning\n 4th:- Natural Language Processing'

In [110]:
f = open("Abhishek.txt","r")
soln = f.read(-2)
soln

'Data Science:\n    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n    application domains.1st:- Data Science\n 2nd:- Machine Learning\n 3rd:- Deep Learning\n 4th:- Natural Language Processing1st:- Data Science\n 2nd:- Machine Learning\n 3rd:- Deep Learning\n 4th:- Natural Language Processing'

In [114]:
with open("Abhishek.txt","r") as f:
    string = f.readlines()
    soln = string[-2:]
    
soln

[' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [115]:
with open("Abhishek.txt","r") as f:
    string = f.readlines()
    soln = string[-2:]
soln

[' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [116]:
with open("Abhishek.txt","r") as f:
    string = f.readlines()
string

['Data Science:\n',
 '    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n',
 '    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n',
 '    application domains.1st:- Data Science\n',
 ' 2nd:- Machine Learning\n',
 ' 3rd:- Deep Learning\n',
 ' 4th:- Natural Language Processing1st:- Data Science\n',
 ' 2nd:- Machine Learning\n',
 ' 3rd:- Deep Learning\n',
 ' 4th:- Natural Language Processing']

In [117]:
with open("Abhishek.txt","r")as f:
    soln = f.readlines()
    print("Length of the string:",len(soln))
    f.close()

Length of the string: 10

In [118]:
with open("Abhishek.txt","r") as f:
    soln = f.read()
    print("Frequency of the words:",len(soln))
    f.close()

Frequency of the words: 474

In [119]:
import shutil
shutil.copy("Abhishek.txt" , "Copy.txt")
with open("Copy.txt","r") as f:
    soln = f.readlines()

soln

['Data Science:\n',
 '    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n',
 '    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n',
 '    application domains.1st:- Data Science\n',
 ' 2nd:- Machine Learning\n',
 ' 3rd:- Deep Learning\n',
 ' 4th:- Natural Language Processing1st:- Data Science\n',
 ' 2nd:- Machine Learning\n',
 ' 3rd:- Deep Learning\n',
 ' 4th:- Natural Language Processing']

In [120]:
import datetime
a = datetime.datetime.today()
b = a.strftime("%Y")
c = a.strftime("%B")
d = a.strftime("%U")
e = a.strftime("%A")
f = a.strftime("%j")
g = a.strftime("%d")
h = a.strftime("%w")
print("a.current date and time:",a)
print("b.Current Year:",b)
print("c.Month of the year:",c)
print("d.Week of the year:",d)
print("e.Weekday of the week:",e)
print("f.day of the year:",f)
print("g.Day of the month:",g)
print("h.Day of the week:",h)

a.current date and time: 2024-02-05 10:34:49.945843
b.Current Year: 2024
c.Month of the year: February
d.Week of the year: 05
e.Weekday of the week: Monday
f.day of the year: 036
g.Day of the month: 05
h.Day of the week: 1

In [121]:
def leap_year(x):
    if x%400==0 and x%100==0:
        print(f"The year {x} is not a leap year")
    elif x%100!=0 and x%400==0:
        print(f"The year {x} is a leap year")
    else:
        print(f"The year {x} is not a leap year")
leap_year(2024)

The year 2024 is not a leap year

In [122]:
def leap_year(x):
    if x%400==0 and x%100==0:
        print(f"The year {x} is not a leap year")
    elif x%100!=0 and x%400==0:
        print(f"The year {x} is a leap year")
    else:
        print(f"The year {x} is not a leap year")
leap_year(2025)

The year 2025 is not a leap year

In [123]:
date_format = "jan 1 2014 2:43PM"
date1 = "%b %d %Y %I:%M%p"
new_date = datetime.datetime.strptime(date_format , date1)
print(new_date)

2014-01-01 14:43:00

In [124]:
date_format = "jan 1 2014 2:43PM"
date1 = "%b %d %Y %I:%M%p"
new_date = datetime.datetime.strptime(date_format , date1)
print(new_date)

2014-01-01 14:43:00

In [126]:
current_datetime = datetime.datetime.today()
new_date = current_datetime + datetime.timedelta(days=-5)
print(new_date)

2024-01-31 10:55:58.345744

In [127]:
current_datetime = datetime.datetime.today()
new_date = current_datetime + datetime.timedelta(days=-1)
print(new_date)

2024-02-04 10:56:43.068947

In [128]:
current_datetime = datetime.datetime.today()
new_date = current_datetime + datetime.timedelta(days=+5)
print(new_date)

2024-02-10 10:57:19.224536

In [129]:
new_date = datetime.datetime.today() + datetime.timedelta(days=-1)
print("Yesterdays date is:",new_date)
new_date = datetime.datetime.today() 
print("Todays date is:",new_date)
new_date = datetime.datetime.today() + datetime.timedelta(days=+1)
print("Tommorrows date is:",new_date)

Yesterdays date is: 2024-02-04 11:04:11.160609
Todays date is: 2024-02-05 11:04:11.161610
Tommorrows date is: 2024-02-06 11:04:11.161610

In [130]:
current_datetime = datetime.datetime.today().date()
for i in range(5):
    new_date = current_datetime + datetime.timedelta(days=i)
    print("Next 5 days from today are:",new_date)

Next 5 days from today are: 2024-02-05
Next 5 days from today are: 2024-02-06
Next 5 days from today are: 2024-02-07
Next 5 days from today are: 2024-02-08
Next 5 days from today are: 2024-02-09

In [132]:
current_datetime = datetime.datetime.today()
new_date = current_datetime.replace(microsecond=0)
print(new_date)

2024-02-05 11:25:21

In [134]:
current_datetime = datetime.datetime.today()
new_date = current_datetime.replace(microsecond=0)
print(new_date)

2024-02-05 11:26:07

In [135]:
random_day = datetime.datetime(2024 , 8 , 12)
print(random_day)
day = random_day.strftime("%a %d %b %Y %U")
print(day)

2024-08-12 00:00:00
Mon 12 Aug 2024 32

In [136]:
random_day = datetime.datetime(2024 , 8 , 12)
print(random_day)
day = random_day.strftime("%a %d %b %Y %U")
print(day)

2024-08-12 00:00:00
Mon 12 Aug 2024 32

In [137]:
import os
os.rename("Abhishek.txt","Abhi.txt")

In [138]:
os.getcwd()

'd:\\abhi python\\Python hands on\\Python-Hands-ON'

In [139]:
os.listdir()

['.git',
 'Abhi',
 'Abhi.txt',
 'adaboost.ipynb',
 'Adaboost_Ass.ipynb',
 'Ann_implementation.ipynb',
 'Assignment_1.ipynb',
 'Assignment_10.ipynb',
 'Assignment_11.ipynb',
 'Assignment_12.ipynb',
 'Assignment_13_LinearR.ipynb',
 'Assignment_2.ipynb',
 'Assignment_3.ipynb',
 'Assignment_4.ipynb',
 'Assignment_6.ipynb',
 'Assignment_7.ipynb',
 'Assignment_8.ipynb',
 'Assignment_9.ipynb',
 'Assignment_DT.ipynb',
 'Assignment_KNN.ipynb',
 'autos_dataset.csv',
 'Bangalore.ipynb',
 'Bengaluru_House_Data.csv',
 'Boston.csv',
 'CNN.ipynb',
 'CNN_proj_explanation.ipynb',
 'CNN_rev.ipynb',
 'Copy.txt',
 'Country_clusters.csv',
 'DataFrame.csv',
 'DataFrame.xlsx',
 'dataset_es_train.csv',
 'Decision tree HYP_Tuning.png',
 'Decision Tree.png',
 'DecisionTree.ipynb',
 'Decision_Tree.png',
 'Decision_Tree_HYP.png',
 'Decision_Tree_REG_WithoutHYP.png',
 'Decision_TRee_Working.ipynb',
 'Deep_Learning.ipynb',
 'Deep_Learning_rev.ipynb',
 'DegreeofFreedom.png',
 'diabetes.csv',
 'Dim_red_tech.ipynb',
 'DRT.REV.ipynb',
 'DT_multiclass_clf.ipynb',
 'DT_Multiclass_clf_withoutHYP.png',
 'DT_Pruning.ipynb',
 'DT_pruning_revision.ipynb',
 'DT_regression.ipynb',
 'Elbow_method.png',
 'heart.csv',
 'Imp_Interview_approach.ipynb',
 'IMP_Questions.ipynb',
 'Interview_questions.ipynb',
 'Iris.csv',
 'kmeans_clustering.ipynb',
 'KNN_classification.ipynb',
 'KNN_Clustering_Ass.ipynb',
 'Knn_Imputer.ipynb',
 'KNN_Regression.ipynb',
 'KNN_revision.ipynb',
 'Linear_reg_assignment.ipynb',
 'Linear_reg_theory.ipynb',
 'Logistic_reg_assignment.ipynb',
 'movies_data.csv',
 'Naive_Bayes.ipynb',
 'Naive_Bayes_Ass.ipynb',
 'neg',
 'NLP.ipynb',
 'NLP_mini_project',
 'NLP_rev.ipynb',
 'PCA.ipynb',
 'PCA_rev.ipynb',
 'pos',
 'Python 1.ipynb',
 'python 10.ipynb',
 'python 11.ipynb',
 'python 12.ipynb',
 'python 2.ipynb',
 'python 3.ipynb',
 'python 4.ipynb',
 'python 5.ipynb',
 'python 6.ipynb',
 'python 7.ipynb',
 'python 8.ipynb',
 'python 9.ipynb',
 'Python_13.ipynb',
 'Random_forest_clf.ipynb',
 'README.md',
 'Sample.xls',
 'Sample1.xlsx',
 'Sampling.ipynb',
 'Scoring.png',
 'Social_Network_Ads.csv',
 'student.csv',
 'Support_vector_machine.ipynb',
 'SVM_Assignment.ipynb',
 'titanic.csv',
 'Train.csv',
 'weather.csv',
 'weather1.csv',
 'word2vec.model']

In [1]:
string = "Python and Machine Learning 7741 is syllabus of Data Science."
import re 
result = re.findall("[a-zA-Z0-9]",string)
if result:
    print("Found right string")
else:
    print("Found wrong string")

Found right string

In [2]:
string = "Python and Machine Learning 7741 is syllabus of Data Science."
import re
result = re.findall("[a-zA-Z0-9]",string)
if result:
    print("Found right string")
else:
    print("Found wrong string")

Found right string

In [3]:
string = "Python and Machine Learning is syllabus of data science and deep learning."
result = re.split("and",string)
print("Program split: ",result)

Program split:  ['Python ', ' Machine Learning is syllabus of data science ', ' deep learning.']

In [4]:
result = re.split("is",string)
print("Program split: ",result)

Program split:  ['Python and Machine Learning ', ' syllabus of data science and deep learning.']

In [5]:
result = re.split("of",string)
print("Program split: ",result)

Program split:  ['Python and Machine Learning is syllabus ', ' data science and deep learning.']

In [6]:
str1='Python and Data Science Batch 2023'
result = re.findall(r"\bab*[a-z]*\b",str1)
print(result)

['and']

In [7]:
result = re.findall(r"\bab*[a-z]*\b",str1)
print(result)

['and']

In [8]:
result = re.findall(r"\b\w{5}\b",str1)
print(result)

['Batch']

In [9]:
sample_string = "There are 123 45 678 90 2345 67 12 345 6789 0123 three-digit"
result = re.findall(r"\b\d{3}\s\d{2}\b",sample_string)
print(result)

['123 45', '678 90']

In [10]:
result = re.findall(r"\d{3}\s\d{2}",sample_string)
print(result)

['123 45', '678 90', '345 67', '345 67']

In [11]:
str1= "python and data pytthon science pythonnn pyyth annd pythh"
result = re.findall(r"p+",str1)
print(result)

['p', 'p', 'p', 'p', 'p']

In [13]:
result = re.findall(r"p...",str1)
print(result)

['pyth', 'pytt', 'pyth', 'pyyt', 'pyth']

In [15]:
str1 = 'We can write INFORM in lowercase as inform'
result = re.findall("INFORM|inform",str1)
if result:
    print("String is present")
else:
    print("String is not present")

String is present

In [16]:
result = re.findall("INFORM|inform",str1)
print(result)

['INFORM', 'inform']

In [17]:
str1= " data science and pytthon science abbbss and pyt"
result = re.findall(r"py?",str1)
print(result)

['py', 'py']

In [18]:
result = re.findall("py+",str1)
print(result)

['py', 'py']

In [19]:
result = re.findall("p.",str1)
print(result)

['py', 'py']

In [20]:
str1= "python and data pbbbtthon science pytbbbonnn and pyt"
result = re.findall(r"[b]{3}",str1)
print(result)

['bbb', 'bbb']

In [21]:
str1= "abbbs and data abbbsolutely science abbrivation and pyt"
result = re.findall(r"[b]{2,3}",str1)
print(result)

['bbb', 'bbb', 'bb']

In [23]:
result = re.findall(r"[b]{2,3}",str1)
print(result)

['bbb', 'bbb', 'bb']

In [24]:
result = re.findall(r"\b\w{3,5}\b",str1)
print(result)

['abbbs', 'and', 'data', 'and', 'pyt']

In [26]:
str1= "abbbs and data abbbsolutely or science_ an abbrivation_ and pyt_"
result = re.findall(r"[a-z]+[_]",str1)
print(result)

['science_', 'abbrivation_', 'pyt_']

In [28]:
result = re.findall(r"[a-z]+[_]",str1)
print(result)

['science_', 'abbrivation_', 'pyt_']

In [30]:
str1= "Abbbs and Data Abbbsolutely or Science_ an Abbrivation_ and pyt_"
result = re.findall(r"[A-Z][a-z]+",str1)
print(result)

['Abbbs', 'Data', 'Abbbsolutely', 'Science', 'Abbrivation']

In [31]:
result = re.findall(r"[A-Z][a-z]+",str1)
print(result)

['Abbbs', 'Data', 'Abbbsolutely', 'Science', 'Abbrivation']

In [32]:
str1= "data absorb Science and Abbrivation and pyt"
text = re.findall(r"\ba.+b\b",str1)
print(text)

['absorb']

In [33]:
result = re.findall(r"\bA.+n\b",str1)
print(result)

['Abbrivation']

In [34]:
result = re.findall(r"\bS.+e\b",str1)
print(result)

['Science']

In [37]:
str1 = 'Suceess is a jurney not a desti9nation.'
result = re.findall("Suceess",str1)
print(result)

['Suceess']

In [38]:
result = re.findall("jurney",str1)
print(result)

['jurney']

In [39]:
str1 = 'new begening of LIFE .'
result = re.findall("LIFE.",str1)
print(result)

['LIFE ']

In [40]:
result = re.findall("of",str1)
print(result)

['of']

In [41]:
str1 = "today is the very lazy day"
result = re.findall(r"\w*z\w",str1)
print(result)

['lazy']

In [44]:
result = re.findall(r"\w*z\w",str1)
print(result)

['lazy']

In [45]:
result = re.findall(r"\w*a\w",str1)
result

['today', 'laz', 'day']

In [46]:
str1 = "we have a lazy cat"
result = re.findall(r"[a-y]*z[a-y]",str1)
result

['lazy']

In [47]:
str1 = "RudrANSHI_12345_wadekar"
result = re.findall(r"\w{1,}",str1)
result

['RudrANSHI_12345_wadekar']

In [48]:
str1 = "9821 maya"
result = re.findall(r"^9",str1)
result

['9']

In [49]:
result = re.findall(r"^\d*",str1)
result

['9821']

In [50]:
ip_adress="216.008.904.196"
result = re.sub(r"\b0.","",ip_adress)
result

'216.8.904.196'

In [51]:
result = re.sub(r"0","$",ip_adress)
result

'216.$$8.9$4.196'

In [56]:
str1="Python is required for data science version 3.2"
result = re.findall(r"\b\d.\d\b",str1)
result

['3.2']

In [57]:
str1 = "Exercises number 1, 12, 13, and 345 are important"
result = re.findall(r"\d{1,}",str1)
result

['1', '12', '13', '345']

In [59]:
Sample_text ='The quick brown fox jumps over the lazy dog.'
Searched_words ='fox', 'dog', 'horse'
for i in Searched_words:
    result = re.findall(i , Sample_text)
    print(result)

['fox']
['dog']
[]

In [60]:
for i in Searched_words:
    result = re.findall(i , Sample_text)
    print(result)

['fox']
['dog']
[]

In [61]:
sample_text ='The quick brown fox jumps over the lazy dog.'
result = re.search("fox",sample_text)
print(f"Start index is {result.start()} and end index is {result.end()}")

Start index is 16 and end index is 19

In [63]:
result = re.search("over",sample_text)
print(f"Start index is {result.start()} and end index is {result.end()}")

Start index is 26 and end index is 30

In [64]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(r"exercises",Sample_text)
result

['exercises', 'exercises', 'exercises']

In [65]:
result = re.findall(r"PHP",Sample_text)
result

['PHP']

In [66]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
len_of_string = re.findall(r"exercises",Sample_text)
print("Occurence of the Substring is:",len(len_of_string))
pos = re.search(r"exercises",Sample_text)
print(f"The position of the Substring is from {pos.start()} and ends at {pos.end()}")

Occurence of the Substring is: 3
The position of the Substring is from 7 and ends at 16

In [68]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","_",str1)
print(result)
result = re.sub(r"[_]","[ ]",str1)
print(result)

The_quick_brown_fox_jumps_over_the_lazy_dog.
The quick brown fox jumps over the lazy dog.

In [69]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","",str1)
print(result)

Thequickbrownfoxjumpsoverthelazydog.

In [70]:
str1= "python and data science pythonnn"
result = re.findall(r"[p]\w*",str1)
print(result)

['python', 'pythonnn']

In [75]:
result = re.findall(r"\b[a]\w*\b",str1)
print(result)

['and']

In [77]:
str1= "data science and python learning with begening every evening "
result = re.findall(r"\b[a,e]\w*",str1)
print(result)

['and', 'every', 'evening']

In [78]:
result = re.findall(r"\b[d,s]\w*",str1)
result

['data', 'science']

In [79]:
str1 = "i am mrunal chaudhari ,my age is 24"
result = re.search(r"\d",str1)
result

In [80]:
text ="""Python. is a general,purpose, interpreted."""
result = re.sub(r"[,. ]" ,":",text)
result

'Python::is:a:general:purpose::interpreted:'

In [81]:
result = re.sub(r"[,.]","$",text)
result

'Python$ is a general$purpose$ interpreted$'

In [82]:
result = re.sub(r"[,. ]{2}",":",text)
result

'Python:is a general,purpose:interpreted.'

In [83]:
text ="""123 Python is a general-purpose, interpreted,
high-level programming language popularly used for
website development, data analytics 78 and automation."""

result = re.findall(r"\b\D{3,5}\b", text)
result

[' is a', 'high-', 'level', ' used', ' for\n', 'data ', ' and ']

In [89]:
text ="""Python. is a general,purpose, interpreted."""
result = re.findall('""(.,)""', text)
result

[]

In [92]:
text ="""Python is a   general purpose   interpreted."""
result = re.sub(r"[ ]+"," ", text)
result

'Python is a general purpose interpreted.'