In [1]:
user_input = input("Enter a String:")

for i in user_input:
    print(i)

A
b
h
i
s
h
e
k

In [2]:
user_input = input("Enter a String")
for i in user_input:
    print(i)

W
a
k
c
h
a
u
r
e

In [3]:
string1 = "Abhishek Wakchaure"
length = len(string1)
print(f"Length of the string is {length} characters")

Length of the string is 18 characters

In [5]:
length = 0 
for i in string1:
    length += 1

print(f"Length of the string is {length} characters")

Length of the string is 18 characters

In [6]:
sentence = "This is orange juice"
keyword = "orange"
if keyword in sentence:
    print("Keyword is present")
else:
    print("Keyword is not present")

Keyword is present

In [7]:
input_string = input("Enter a String:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0
consonant_count = 0
digit_count = 0
whitespace_count = 0
for char in input_string:
    if char.lower() in vowels:
        vowel_count += 1
    if char.lower() in consonants:
        consonant_count += 1
    if char in digits:
        digit_count += 1
    if char.isspace():
        whitespace_count += 1

print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  7
Consonant count :  10
Digit count :  4
Whitespace count :  2

In [12]:
input_string = input("Enter a string:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0 
consonant_count = 0 
digit_count = 0
whitespace_count = 0
for char in input_string:
    if char.lower() in vowels:
        vowel_count += 1
    if char.lower() in consonants:
        consonant_count += 1
    if char in digits:
        digit_count += 1
    if char.isspace():
        whitespace_count += 1
print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  1
Consonant count :  3
Digit count :  3
Whitespace count :  0

In [13]:
input_string = input("Enter a string:")
uppercase_count = 0 
lowercase_count = 0
special_count = 0
numeric_count = 0
for char in input_string:
    if char.islower():
        lowercase_count += 1
    if char.isupper():
        uppercase_count += 1
    if char.isdigit():
        numeric_count += 1
    else:
        special_count += 1
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  6
Lower case count:  7
Special count:  15
Number of digits:  4

In [14]:
input_string = input("Enter a String:")
lowercase_count = 0 
uppercase_count = 0 
numeric_count = 0 
special_count = 0 
for char in input_string:
    if char.islower():
        lowercase_count += 1 
    if char.isupper():
        uppercase_count += 1
    if char.isdigit():
        digit_count += 1 
    else:
        special_count += 1 
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  2
Lower case count:  10
Special count:  20
Number of digits:  0

In [15]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for char in input_string:
    if char.isalpha() and char not in vowels:
        new_string += char

print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: Hllhvgddy

In [16]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for char in input_string:
    if char.isalpha() and char not in vowels:
        new_string += char

print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: Hllhvgddy

In [17]:
input_string = input("Enter a non empty string:")
index = int(input("ENter the index of the character to be removed :"))

if index < 0 and index > len(input_string):
    print("Invalid Index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string:" , input_string)
    print("New string:" , new_string)

Original string: abhishek
New string: abhihek

In [18]:
input_string = input("Enter a non empty string:")
index = int(input("ENter the index of the character to be removed:"))
if index < 0 and index > len(input_string):
    print("Invalid Index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string:" , input_string)
    print("New string:" , new_string)

Original string: wakchaure
New string: wakcaure

In [19]:
input_string = input("Enter a String:")
if len(input_string) < 2:
    print("String should have atleast 2 characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  abhishek
String with first and last characters exchanged:  kbhishea

In [20]:
input_string = input("ENter a string:")
if len(input_string) < 2:
    print("String should have atleast 2 characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  wakchaure
String with first and last characters exchanged:  eakchaurw

In [21]:
input_string = str(input("Enter a string:"))
word = ""
for i in input_string:
    word = i 
    count = input_string.count(word)
    print(f"In the given string {word} is been repeated {count} times")

In the given string a is been repeated 1 times
In the given string b is been repeated 1 times
In the given string h is been repeated 2 times
In the given string i is been repeated 1 times
In the given string s is been repeated 1 times
In the given string h is been repeated 2 times
In the given string e is been repeated 1 times
In the given string k is been repeated 1 times

In [22]:
input_string = str(input("Enter a string:"))
word = ""
for i in input_string:
    word = i 
    count = input_string.count(word)
    print(f"In the given string {word} is repeated {count} times")

In the given string w is repeated 1 times
In the given string a is repeated 2 times
In the given string k is repeated 1 times
In the given string c is repeated 1 times
In the given string h is repeated 1 times
In the given string a is repeated 2 times
In the given string u is repeated 1 times
In the given string r is repeated 1 times
In the given string e is repeated 1 times

In [25]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

abhishek : 1
wakchaure : 1

In [27]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

hi : 1
where : 1
are : 2
you : 3
i : 3
am : 1
coming : 1
to : 1
your : 1
home : 1
are : 2
you : 3
there : 1

In [28]:
input_string = input("Enter a string:")
last10_char = input_string[-10:]
print("Last 10 characters in the string are :" , last10_char)

Last 10 characters in the string are :  wakchaure

In [29]:
input_string = input("Enter a string:")
last10_char = input_string[-10:]
print("Last 10 characters in the string are :" , last10_char)

Last 10 characters in the string are : oming home

In [30]:
input_string = input("Enter a string:")
uppercase_count = 0 
for char in input_string[:4]:
    if char.isupper():
        uppercase_count += 1
if uppercase_count > 2 :
    uppercase_string = input_string.upper()
    print("Upper case string:",uppercase_string)
else:
    print("No Conversion required.String doesnot meet condition")

Upper case string: ABHISHEK

In [31]:
input_string = input("Enter a string:")
uppercase_count = 0
for char in input_string[:4]:
    if char.isupper():
        uppercase_count += 1
if uppercase_count > 2 :
    uppercase_string = input_string.upper()
    print("Upper case string:",uppercase_string)
else:
    print("No Conversion required.String doesnot meet condition")

No Conversion required.String doesnot meet condition

In [32]:
input_string = "This is a string with newline.\n"
new_string = input_string.replace("\n" , "")
print("Original string:",input_string)
print("New string without newline:",new_string)

Original string: This is a string with newline.

New string without newline: This is a string with newline.

In [33]:
input_string = "This is a string with newline.\n"
new_string = input_string.replace("\n" , "")
print("Original string:",input_string)
print("New string without newline:",new_string)

Original string: This is a string with newline.

New string without newline: This is a string with newline.

In [34]:
input_string = "32.054,23"
new_string = input_string.replace("," , "*").replace(".",",").replace("*",".")
print("Original string:",input_string)
print("Swapped string:",new_string)

Original string: 32.054,23
Swapped string: 32,054.23

In [35]:
input_string = "32.054,23"
new_string = input_string.replace(",","*").replace(".",",").replace("*",".")
print("Original string:",input_string)
print("Swapped string:",new_string)

Original string: 32.054,23
Swapped string: 32,054.23

In [36]:
input_string = input("Enter a string:")
char_count = {}
for char in input_string:
    if char in char_count:
        print("First repeated char:",char)
        break
    char_count[char] = 1
else:
    print("No repeated character found")

First repeated char: h

In [37]:
input_string = input("Enter a string:")
char_count = {}
for char in input_string:
    if char in char_count:
        print("First repeated char:",char)
        break
    char_count[char] = 1
else:
    print("No repeated character found")

First repeated char: a

In [38]:
input_string = input("Enter a string:")
even_count = 0 
odd_count = 0
for char in input_string:
    if char.isdigit():
        num = int(char)
        if num%2==0:
            even_count += 1
        else:
            odd_count += 1
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 5
odd number count : 4

In [39]:
input_string = input("Enter a string")
even_count = 0 
odd_count = 0
for char in input_string:
    if char.isdigit():
        num = int(char)
        if num%2==0:
            even_count += 1
        else:
            odd_count += 1
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 3
odd number count : 3

In [40]:
input_string = input("Enter a string:")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains alphabets")

String contains only digits

In [41]:
input_string = input("Enter a string")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains alphabets")

String contains alphabets

In [42]:
a = "Abhishek"
List = list(a)
print(List)
x = input("Enter the character to be removed")
if x in List:
    List.remove(x)
    print(List)
else:
    print("Character not found")
Str = ""
result = Str.join(List)
print(result)

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']
['A', 'b', 'h', 'i', 'h', 'e', 'k']
Abhihek

In [43]:
a = "wakchaure"
List = list(a)
print(List)
x = input("Enter the character to be removed")
if x in List:
    List.remove(x)
    print(List)
else:
    print("Character not found")
Str = ""
result = Str.join(List)
print(result)

['w', 'a', 'k', 'c', 'h', 'a', 'u', 'r', 'e']
['w', 'a', 'k', 'h', 'a', 'u', 'r', 'e']
wakhaure

In [44]:
a = "abhishek"
k = []
for i in a:
    if a.index(i)%2==0:
        k.append(i)
print(k)

['a', 'h', 's', 'h', 'e']

In [45]:
a = "wakchaure"
k = []
for i in a:
    if a.index(i)%2==0:
        k.append(i)
print(k)

['w', 'k', 'h', 'u', 'e']

In [46]:
input_string = input("Enter a string:")
if len(input_string)%5==0:
    output_string = input_string[::-1]
    print(output_string)
else:
    print("Length is not multiple of 5")

Length is not multiple of 5

In [47]:
input_string = input("Enter a string:")
if len(input_string)%5==0:
    output_string = input_string[::-1]
    print(output_string)
else:
    print("Length is not multiple of 5")

awkehsihba

In [48]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string[::-1]
print(empty)

eruahckaw kehsihba

In [49]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string[::-1]
print(empty)

eruahckaw

In [50]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string.swapcase()
print(empty)

aBHISHEK

In [51]:
input_string = str(input("Enter a string:"))
empty = []
for i in input_string:
    empty = input_string.swapcase()
print(empty)

AbhISHeK

In [52]:
input_string = str(input("Enter a string:"))
output_string = input_string.replace(" ","")
print("Old string:",input_string)
print("New string:",output_string)

Old string: abhishek good boy
New string: abhishekgoodboy

In [53]:
input_string = str(input("Enter a string:"))
output_string = input_string.replace(" ","")
print("Old string:",input_string)
print("New string:",output_string)

Old string: abhishek   wakchaure
New string: abhishekwakchaure

In [54]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
print(output_string)

['a', 'b', 'h', 'i', 's', 'e', 'k']

In [55]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
print(output_string)

['w', 'a', 'k', 'c', 'h', 'u', 'r', 'e']

In [56]:
radius = eval(input("Enter the radius of the circle:"))
area = 3.14 * radius * radius
print("Area of the circle:",area)

Area of the circle: 78.5

In [57]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i)

0
1
4
9
16
25

In [58]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i)

0
1
4
9
16
25
36

In [59]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i*i)

0
1
8
27
64
125

In [60]:
num = eval(input("Enter a number:"))
for i in range(0 , num+1):
    print(i*i*i)

0
1
8
27
64
125
216

In [63]:
n = eval(input("Enter a number:"))
for i in range(2 , n):
    if n % i == 0:
        print("Not Prime")
        break
    else:
        print("Prime Number")
        break

Not Prime

In [65]:
n = eval(input("Enter a number:"))
for i in range(2 , n):
    if n % i == 0:
        print("Not Prime")
        break
    else:
        print("Prime Number") 
        break

Prime Number

In [1]:
list1 = [1,2,3,4,5]
max(list1)

5

In [2]:
list1 = [1,2,3,4,5]
max1 = list1[0]
for i in list1:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

5

In [4]:
list1 = [3,55,3,44,6,74,67,17]
final_list = sorted(list1)
max1 = final_list[0]
for i in final_list:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

74

In [6]:
list1 = [55,33,5,43,5,77,85,444,5,6,666,95,445,533,765,3,22,5,555,888]
final_list = sorted(list1)
max1 = final_list[0]
for i in final_list:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

888

In [7]:
list1 = [4,5,3,5,5,44,55,33,4,26,44,55]
list1.sort()
list1
max1 = list1[-1]
max1

55

In [8]:
list1 = [33,22,54,56,33,22,145,65,44,5,444]
list1.sort(reverse=True)
max1 = list1[0]
max1

444

In [10]:
list1 = [2,3,44,22,37,68]
list1[-1:] + list1[1:-1] + list1[:1]

[68, 3, 44, 22, 37, 2]

In [13]:
list1 = [1,2,3,4,5]
list1[-1:] + list1[1:-1] + list1[:1]

[5, 2, 3, 4, 1]

In [14]:
list1[1:-1]

[2, 3, 4]

In [15]:
list1 = [1,2,3,4,5]
list1[0],list1[1] = list1[1],list1[0]
list1

[2, 1, 3, 4, 5]

In [16]:
list1 = [2,3,4,5]
list1[1],list1[2] = list1[2],list1[1]
list1

[2, 4, 3, 5]

In [2]:
list1 = [1,2,3,4,5]
pos1 = int(input("Enter position 1:"))
pos2 = int(input("Enter position 2:"))
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
list1

[1, 2, 4, 3, 5]

In [3]:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [4]:
list1 = [5,4,3,2,1]
list1.reverse()
list1

[1, 2, 3, 4, 5]

In [6]:
list1 = [1,3,5,7,9]
list2 = reversed(list1)
list(list2)

[9, 7, 5, 3, 1]

In [7]:
list1 = [2,4,6,8,10]
list2 = reversed(list1)
list(list2)

[10, 8, 6, 4, 2]

In [8]:
list1 = [1,2,3,4,5]
list2 = []
for i in range(len(list1) , 0 , -1):
    list2.append(i)
list2

[5, 4, 3, 2, 1]

In [9]:
list1 = [5,4,3,2,1]
list2 = []
for i in range(len(list1) , 0 , -1):
    list2.append(i)
list2

[5, 4, 3, 2, 1]

In [10]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
list1.count(1)

6

In [11]:
list1.count(2)

7

In [12]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
num = 3
count1 = 0 
for i in list1:
    if i == num:
        count1 += 1
print(count1)

5

In [13]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
num = 4
count1 = 0 
for i in list1:
    if i == num:
        count1 += 1
print(count1)

5

In [14]:
list1 = [1,2,3,4,5]
sum1 = 0 
for i in list1:
    sum1 = sum1 + i
print("Sum of elements:", sum1)

Sum of elements: 15

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum1 = 0 
for i in list1:
    sum1 = sum1 + i
print("Sum of elements:", sum1)

Sum of elements: 55

In [16]:
list1 = [1,2,3,4,5]
mul = 1
for i in list1:
    mul = mul * i 
print("mul of elements:", mul)

mul of elements: 120

In [17]:
list1 = [1,3,5,7,9]
mul = 1
for i in list1:
    mul = mul * i
print("mul of elements:",mul)

mul of elements: 945

In [18]:
list1 = [1,3,5,7,9]
len(list1)

5

In [19]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(range(len(list1)))

range(0, 15)

In [20]:
list1 = [1,1,2,3,4,4,1,2,2,2,4,4,4,3,3,3,2,1,1,2,1,2,3]
print(range(len(list1)))

range(0, 23)

In [21]:
list1 = [1,2,3,4,5]
counter = 0 
for i in list1:
    counter += 1 
print(counter)

5

In [22]:
list1 = [1,2,3,4,5]
smallest = list1[0]
greatest = list1[1]

for i in range(len(list1)):
    if list1[i] <= smallest:
        smallest = list1[i]
print("Smallest number in the list:", smallest)

for i in range(len(list1)):
    if list1[i] >= greatest:
        greatest = list1[i]
print("Greatest number in the list:", greatest)

Smallest number in the list: 1
Greatest number in the list: 5

In [24]:
list1 = [1,2,3,4,5,6,7]
smallest = list1[3]
largest = list1[2]
for i in range(len(list1)):
    if list1[i] <= smallest:
        smallest = list1[i]
print("Smallest number in the list:", smallest)

for i in range(len(list1)):
    if list1[i] >= largest:
        largest = list1[i]
print("Largest number in the list:", largest)

Smallest number in the list: 1
Largest number in the list: 7

In [31]:
list1 = []
num = int(input("How many numbers you want in the list:"))
for i in range(num):
    i = input("Enter the item you want in the list:")
    list.append(i)
print("List is :" , list1)

num1 = int(input("Enter the number you want to remove from the list:"))
for i in range(len(list1)):
    if num1 == list1[i]:
        list1.remove(num1)
        print("Deleted number from list :",num1)
        print(list1)
        break
    else:
        print("Number not found in the list")

TypeError: descriptor 'append' for 'list' objects doesn't apply to a 'str' object

In [32]:
list1 = [2,5,6,12]
list2 = []
for i in list1:
    list2.append(i**2)
print("Original list:",list1)
print("New list:",list2)

Original list: [2, 5, 6, 12]
New list: [4, 25, 36, 144]

In [33]:
list1 = [1,3,5,7,9]
list2 = []
for i in list1:
    list2.append(i**2)
print("Original list:",list1)
print("New list:",list2)

Original list: [1, 3, 5, 7, 9]
New list: [1, 9, 25, 49, 81]

In [34]:
list1 = [1,2,3,4,5]
list2 = []
list2 = [(i**2) for i in list1]
list2

[1, 4, 9, 16, 25]

In [35]:
list1 = [2,4,6,8,10]
list2 = []
list2 = [(i**2) for i in list1]
list2

[4, 16, 36, 64, 100]

In [36]:
even_numbers = []
odd_numbers = []
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

In [37]:
even_numbers = []
odd_numbers = []
for i in range(0, 50):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [38]:
even_numbers = []
even_count = 0
odd_numbers = []
odd_count = 0
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [39]:
even_numbers = []
even_count = 0 
odd_numbers = []
odd_count = 0
for i in range(0, 152):
    if i%2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [40]:
divisible_4 = []
divisible_6 = []
divisible_8 = []
divisible_10 = []
divisible_3 = []
divisible_5 = []
divisible_7 = []
divisible_9 = []

for i in range(0 , 152):
    if i%4 == 0:
        divisible_4.append(i)
    if i%6==0:
        divisible_6.append(i)
    if i%8==0:
        divisible_8.append(i)
    if i%10==0:
        divisible_10.append(i)
    if i%3==0:
        divisible_3.append(i)
    if i%5==0:
        divisible_5.append(i)
    if i%7==0:
        divisible_7.append(i)
    if i%9==0:
        divisible_9.append(i)
print("Numbers divisible by 4 are:",divisible_4)
print()
print("Numbers divisible by 6 are:",divisible_6)
print()
print("Numbers divisible by 8 are:",divisible_8)
print()
print("Numbers divisible by 10 are:",divisible_10)
print()
print("Numbers divisible by 3 are:",divisible_3)
print()
print("Numbers are divisible by 5 are:",divisible_5)
print()
print("Numbers divisible by 7 are:",divisible_7)
print()
print("Numbers divisible by 9 are:",divisible_9)

Numbers divisible by 4 are: [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

Numbers divisible by 6 are: [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]

Numbers divisible by 8 are: [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]

Numbers divisible by 10 are: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

Numbers divisible by 3 are: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150]

Numbers are divisible by 5 are: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

Numbers divisible by 7 are: [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147]

Numbers divisible by 9 are: [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]

In [41]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    if type(i) == float:
        float_list.append(i)
    if type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [42]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    if type(i) == float:
        float_list.append(i)
    if type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [43]:
l1 = [1,2,3,4,5]
l2 = [2,3,4,5,6]
l2.extend(l1)
l2

[2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [44]:
l1 = [1,2,3,4,5]
l2 = [2,3,4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [45]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
sorted_numbers = sorted(set(l1) , reverse=True)
print("Sorted list:",sorted_numbers)
print("Third largest number:",sorted_numbers[2])

Sorted list: [30, 11, 10, 9, 7, 6, 5, 4, 2, 1]
Third largest number: 10

In [46]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
sorted_numbers = sorted(set(l1),reverse=True)
print("Sorted list: ",sorted_numbers)
print("Third largest number: ",sorted_numbers[2])

Sorted list:  [30, 11, 10, 9, 7, 6, 5, 4, 2, 1]
Third largest number:  10

In [47]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] = l2[i] + 1
    else:
        l2[i] = 1
print(l2)

{1: 2, 2: 2, 3: 2, 4: 2}

In [48]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] = l2[i] + 1
    else:
        l2[i] = 1
print(l2)

{1: 2, 2: 2, 3: 2, 4: 2}

In [49]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("l2 is subset of l1")
else:
    print("l2 is not a subset of l1")

l2 is subset of l1

In [50]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("l2 is subset of l1")
else:
    print("l2 is not a subset of l1")

l2 is subset of l1

In [51]:
l1 = [1,2,3]
sub_l1 = [[]]
for i in range(len(l1)+1):
    for j in range(i):
        sub_l1.append(l1[j:i])
sub_l1

[[], [1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

In [52]:
l1 = [1,2,3]
sub_l1 = [[]]
for i in range(len(l1)+1):
    for j in range(i):
        sub_l1.append(l1[j:i])
sub_l1

[[], [1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

In [53]:
l1=[10,20,30,40]
l2=[10,20,30,50]
common_items = set(l1) and set(l2)
print("Common elements are :",common_items)

Common elements are : {10, 20, 50, 30}

In [54]:
l1=[10,20,30,40]
l2=[10,20,30,50]
common_items = set(l1) and set(l2)
print("Common elements are :",common_items)

Common elements are : {10, 20, 50, 30}

In [55]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list is :",flattened_list)

Flattened list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list is :",flattened_list)

Flattened list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
tuple1 = (2,3,5,2,1,4,7,9,4)
tuple2 = list(tuple1)
tuple2.sort()
tuple(tuple2)

(1, 2, 2, 3, 4, 4, 5, 7, 9)

In [58]:
tuple1 = (3,4,5,2,3,5,7,5,8,0)
tuple2 = list(tuple1)
tuple2.sort()
tuple(tuple2)

(0, 2, 3, 3, 4, 5, 5, 5, 7, 8)

In [59]:
l1 = [11,30,50]
for i in l1:
    print(i , end="")

113050

In [60]:
l1 = [22,32,12]
for i in l1:
    print(i , end="")

223212

In [61]:
l1 = [1]
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [62]:
l1 = []
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is empty

In [63]:
l1 = [1,2,3]
l2 = [4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [65]:
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [66]:
l1=[1,2,3,1,2,3,4,5,6,4,5,6]
l1.count(2)

2

In [67]:
l1.count(1)

2

In [68]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Revision of Linear regression 
> Linear regreaaion 
* It is a predictive model used to find the linear relationship between dependent variable and one or more independent variables.
* Which says that it finds out how the value of dependent variable changes according to the value of independent variables.
* It is a parameteric algorithm >> assumptions on distribution of data
* Our aim in linear regression is to find the linear relationship between dependent variable and one or more independent variables.

> Types of Linear Regression
1. SImple Linear Regression 
* If a single independent variable is used to find out the value od dependent variable then it is called as Simple Linear Regression.
* We have only one independent variable.
* y = mx + c
* m >> Slope >> linear regression coefficients >> scale factor to each input value.
* c >> intercept of the line >> gives an additional degree of freedom 
* x >> Independent variable
* y >> dependent variable

2. Multiple Linear Regression
* If we use more than one independent variable to predict the value of dependent variable then it is called as Multiple Linear Regression.
* We have one or more independent variables
* Y = m1X1 + m2X2 + m3X3 + c
* m1,m2,m3 >> slope 
* x1,x2,x3 >> Indepndent variable
* Y >> dependent variable
* Slope >> m = (Y2 - Y1) / (X2 - X1)

> Residuals or errors or coefficients of regression(e)
* Distance between actual value and predicted value is called as error.
* If the observed points are far away from the regression line then the error will be higher and higher will be the cost function.
* If the observed points are near the regression line then the error will be less and less will be the cost function.
* e = Yactual - Ypredicted
* Yactual >> actual value of Y >> Original value .. data point
* Ypredicted >> predicted value of Y >> Value according to  the regression line
* 
> Linear regression line
* A linear line showing linear relationship between dependent variable and one or more independent variables is called as a linear regression line.
* Positive linear relationship : (R = 1)
* If we increase our value in independent variables and accordingly the value in dependent variable increases then such relationship will be called as Positive Linear Relationship.
* Negative linear relationship : (R = -1)
* If we decrease our value in independent variables and accordingly the value in dependent variable decreases then such relationship will be called as Negative Linear Relationship.
* 
> Advantages of Linear Regression
1. Simple to implement and easier to interpret the output coefficients.
2. When you know there is a linear relationship between the dependent variable and the independent variable then this is best algorithm to use and it is less complex as comared to other algorithms.
3. Linear regression is prone to Overfitting and it can be avoided by using the dimensionality reduction technique(PCA) , Regularization(L1 and L2) , Cross Validation.
* 
> Disadvantages of Linear regression
1. When the independent variables are corelated then it may affect the performance of the model.
2. It is only efficient for linear data(High corr between x and y)
3. Sometimes a lot of feature engineering is required.
4. Scaling is required.
5. It is often prone to noise and overfitting.
6. It is sensitive to missing values.
7. It is sensitive to Outliers.
* 
> Applications of Linear regression 
1. Forecasting the data 
2. Analyzing the Time series
3. Prize predictions
4. Salary predictions
* 
> Assumptions of Linear regression
1. Linearity : Linear relationships between the dependent variable and Independent variables
2. NoMulticolinearity : Indepndent variables should be independent to each other.
3. Normality of residuals
4. Homoscedasticity
* 
1. Linearity >> There should be linear relationships between the dependent variable and Independent variables.
* A linear relationship tells us how a unit difference in Independent variable affects the dependent variable.
* An additive relationship tells us that effect of Independent variable on dependent variable is independent of other Independent variable.
* In Linear regression a straight line will be passed through maximum data points as good as possible.
* As the line will be passed through the maximum data points our coefficient of regression will be minimum.
* The line shows linear relationship between independent variable and dependent variable.
* 
> How to check Linearity?
* Coefficient of corelation
* Scatterplot
* Corelation matrix
* 
>

In [1]:
from itertools import permutations

def display_permutations(input_str):
    # Get all permutations using itertools.permutations
    perms = permutations(input_str)

    # Print each permutation
    for perm in perms:
        print(''.join(perm))

# Sample Input
input_string = "cat"

# Display Permutations
display_permutations(input_string)

cat
cta
act
atc
tca
tac

In [1]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
x = OrderedDict(sorted(dict1.items()))
print(x , end=" ")

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [2]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
x = OrderedDict(sorted(dict1.items()))
print(x , end=" ")

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [3]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
for i in sorted(key_value):
    print((i , key_value[i]) , end=" ")

('a', 88) ('d', 42) ('l', 11) ('o', 89) ('p', 5)

In [4]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
for i in sorted(key_value):
    print((i , key_value[i]) , end=" ")

('a', 88) ('d', 42) ('l', 11) ('o', 89) ('p', 5)

In [5]:
def sort(dict1):
    sorted_dict = sorted(dict1.items() , key=lambda x : x[1])
    return sorted_dict
sort({'l':11,'o':89,'a':88,'d':42,'p':5})

[('p', 5), ('l', 11), ('d', 42), ('a', 88), ('o', 89)]

In [6]:
def sort(dict1):
    sorted_dict = sorted(dict1.items() , key=lambda x : x[1])
    return sorted_dict
sort({'l':11,'o':89,'a':88,'d':42,'p':5})

[('p', 5), ('l', 11), ('d', 42), ('a', 88), ('o', 89)]

In [7]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sorted_dict = {i : j for i,j in sorted(dt.items() , key=lambda x : x[1])}
print(sorted_dict)

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [8]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sorted_dict = {i : j for i , j in sorted(dt.items() , key=lambda x : x[1])}
print(sorted_dict)

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [10]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
x = dt.values()
sum(x)

65

In [12]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
y = dt.keys()
x = sorted(y)
x

['aa', 'bb', 'cc', 'dd']

In [13]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
x = dt.values()
sum(x)

65

In [14]:
def return_sum(dict1):
    list1 = []
    for i in dict1:
        list1.append(dict1[i])
    final = sum(list1)

    return final
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [15]:
def return_sum(dict1):
    list1 = []
    for i in dict1:
        list1.append(dict1[i])
    final = sum(list1)

    return final
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [16]:
def return_sum(dict1):
    sum1 = 0 
    for i in dict1.values():
        sum1 = sum1 + i
    return sum1
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [17]:
def return_sum(dict1):
    sum1 = 0 
    for i in dict1.values():
        sum1 = sum1 + i 

    return sum1
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [18]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Mani"]
test_dict

{'Arushi': 22, 'Haritha': 21}

In [19]:
test_dict

{'Arushi': 22, 'Haritha': 21}

In [20]:
del test_dict["Haritha"]
test_dict

{'Arushi': 22}

In [21]:
del test_dict

In [22]:
test_dict

NameError: name 'test_dict' is not defined

In [25]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Mani")

21

In [26]:
test_dict

{'Arushi': 22, 'Haritha': 21}

In [27]:
test_dict.pop("Arushi")

22

In [28]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
x = {**d1 , **d2}
x

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [29]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
x = {**d2 , **d1}
x

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [30]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [31]:
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [32]:
def cal(percent):
    if percent >= 90:
        return "A+"
    if 80 <= percent < 90:
        return "A"
    if 70 <= percent < 80:
        return "B"
    if 60 <= percent < 70:
        return "C"
    if 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0 
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subject:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = cal(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by the student is : {grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 80.0
Grade recieved by the student is : A

In [33]:
def cal(percent):
    if percent >= 90:
        return "A+"
    if 80 <= percent < 90:
        return "A"
    if 70 <= percent < 80:
        return "B"
    if 60 <= percent < 70:
        return "C"
    if 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
def main():
    total_marks = 0
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the mark for the subject:"))
        total_marks = total_marks + marks

    average_percent = total_marks / no_of_subjects
    grade = cal(average_percent)
    print(f"Percentage recieved by the student:{average_percent}")
    print(f"Grade recieved by the subject : {grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student:71.25
Grade recieved by the subject : B

In [34]:
def group_anagrams(words):
    anagram_dict = {}
    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]

    return anagram_dict.values()

def main():
    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram groups:")
    for group in anagram_groups:
        print(group)

if __name__ == "__main__":
    main()

Anagram groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [35]:
def group_anagrams(words):
    anagram_dict = {}

    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]
    return anagram_dict.values()

def main():
    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram groups:")

    for i in anagram_groups:
        print(i)

if __name__ == "__main__":
    main()

Anagram groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [36]:
def group_anagrams(words):

    anagram_dict = {}
    for word in words:
        sorted_word = " ".join(sorted(word))
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]

    return anagram_dict.values()

def main():

    words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]

    anagram_groups = group_anagrams(words)

    print("Anagram Groups:")
    for i in anagram_groups:
        print(i)

if __name__ == "__main__":
    main()

Anagram Groups:
['listen', 'silent', 'enlist']
['hello']
['world']
['act', 'cat']
['dog', 'god']

In [38]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)

num1 = 10 
num2 = 20 
if check_bin(num1 , num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagrams")

The binary representation of 10 and 20 are not anagrams

In [39]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)

num1 = 20 
num2 = 25
if check_bin(num1 , num2):
    print(f"The Binary representation of {num1} and {num2} are anagrams.")
else:
    print(f"The Binary representation of {num1} and {num2} are not anagrams")

The Binary representation of 20 and 25 are not anagrams

In [40]:
def check_bin(num1 , num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)
num1 = 20 
num2 = 20 
if check_bin(num1 , num2):
    print(f"The Binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The Binary representation of {num1} and {num2} are not anagrams")

The Binary representation of 20 and 20 are anagrams

In [41]:
from collections import defaultdict
from collections import Counter
words = ["cat" , "dog" , "tac" , "god" ,"act"]
anagram_groups = defaultdict(list)

for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram groups:",max_anagram)

Size of the largest anagram subset: 3
Largest anagram groups: [['cat', 'tac', 'act']]

In [42]:
from collections import defaultdict
from collections import Counter
words = ["cat" , "dog" , "tac" , "god" , "act"]

anagram_groups = defaultdict(list)

for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram group(s):",max_anagram)

Size of the largest anagram subset: 3
Largest anagram group(s): [['cat', 'tac', 'act']]

In [43]:
from collections import defaultdict,Counter
words = ["cat", "dog", "tac", "god", "act"]
anagram_groups = defaultdict(list)
for i in words:
    tuple_sorted = tuple(sorted((Counter(i).items())))
    anagram_groups[tuple_sorted].append(i)

max_size = max([len(i) for i in anagram_groups.values()])
max_anagram = [i for i in anagram_groups.values() if len(i) == max_size]

print("Size of the largest anagram subset:",max_size)
print("Largest anagram group(s):",max_anagram)

Size of the largest anagram subset: 3
Largest anagram group(s): [['cat', 'tac', 'act']]

In [44]:
def find_mirror_charcters(input_string):
    mirror_dict = {'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v',
                   'f': 'u', 'g': 't', 'h': 's', 'i': 'r', 'j': 'q',
                   'k': 'p', 'l': 'o', 'm': 'n', 'n': 'm', 'o': 'l',
                   'p': 'k', 'q': 'j', 'r': 'i', 's': 'h', 't': 'g',
                   'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c', 'y': 'b', 'z': 'a'}
    mirror_charcacters = set()

    for char in input_string:
        mirror_char = mirror_dict.get(char.lower() , None)
        if mirror_char and mirror_char in input_string.lower():
            mirror_charcacters.add(char.lower())
    return mirror_charcacters
# Example 
input_string = "Abhishek"
result = find_mirror_charcters(input_string)
print("Mirror characters:",result)

Mirror characters: {'h', 's'}

In [45]:
def find_mirror_charcters(input_string):
    mirror_dict = {'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v',
                   'f': 'u', 'g': 't', 'h': 's', 'i': 'r', 'j': 'q',
                   'k': 'p', 'l': 'o', 'm': 'n', 'n': 'm', 'o': 'l',
                   'p': 'k', 'q': 'j', 'r': 'i', 's': 'h', 't': 'g',
                   'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c', 'y': 'b', 'z': 'a'}
    mirror_characters = set()
    for char in input_string:
        mirror_char = mirror_dict.get(char.lower(), None)
        if mirror_char and mirror_char in input_string.lower():
            mirror_characters.add(char.lower())
    return mirror_characters

# Example usage 
input_string = "Wakchuare"
result = find_mirror_charcters(input_string)
print("Mirror characters:",result)

Mirror characters: set()

In [47]:
def count_freq(list1):
    freq = {}

    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))

result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [48]:
def count_freq(list1):
    freq = {}

    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))
result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [49]:
def count_freq(list1):
    freq = {}
    
    for i in list1:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1

    for key , values in freq.items():
        print("%d : %d" % (key , values))

result = count_freq([1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2])
result

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

In [50]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [51]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [52]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = {}
for key , values in tups:
    dict1[key] = values

print(dict1)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [53]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [54]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [55]:
numbers = [2,3,4,5,6]
tuple_list = [(num , num**3) for num in numbers]
tuple_list

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [56]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

sorted_tuples = sorted(tuples_list , key=lambda x : x[1])
sorted_tuples

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [57]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]
sorted_tuples = sorted(tuples_list , key=lambda x : x[1])
sorted_tuples

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]