IAM user : Identify access and management services 
AWS cloudshell : CMD prompt 

AWS homepage menu bar 
logo >> redirect back to home page dashboard,
services : all services in menu format ,
serarch bar : search the service by the name, 
CLI [command line interface] : aws cloudshell,
notification : services notifications,
support : for technical and billing related support queries, 
setting : UI setting ,
region : all the region across the aws, 
user name : aal the user related information, 


EC2 : Elastic cloud compute 
EC2 : virtual machine

Local Machine : cpu,ram,hdd,os,io,op

virtual Machine : cpu,ram,hdd,os,
access the virtual machine : using the terminal [command prompt] SSH[secure shell]


How to create the EC2 machine?

1.Search EC2 in search bar or click on service >> compute >> EC2.
2.Click on launch instance button and you will be redirected to the new window.
3.fill the required information
  3.1 : Name and tags 
  3.2 : Application and os images (amazon machine image) >> ubuntu >> 20.04 [os]
  3.3 : Instance type >> select t3.medium [cpu,ram] 
  3.4 : key pair : click on create new key pair and fill the info
                   this will download a new file .save it in secure location
  3.5 : Network settings : click on edit and then click on add network configuration 
                           type >> all traffic 
                           source >> anywhere 

  3.6 : configure storage [hdd] >> 



  How to connect to EC2?

  1.open a ssh client , git bash
  2.locate your private key file .Change directory to path in gitbash where key is stored >> cd "Path"
  3.Run this command if necessary to ensure your key is not publicly available 
  4.connect to your instance using its public dns

IAM user : Identify access and management services
AWS cloudshell : cmd prompt 

AWS homepage menu bar 

logo >> redirect back to homepage dashboard
services >> all services in menu format
search bar >> search the service by the name 
CLI [Command line interface] >> AWS cloud shell 
notifications >> service notifications
setting >> ui setting
region >> all the region across aws 
user_name >> all the user related information


EC2 : Elastic cloud compute
EC2 : virtual machine

local machine : cpu,ram,hdd,os,io,op
virtual machine : cpu,ram,hdd,os
Access the vm : using the terminal [command prompt] SSH[Secure shell]


How to create EC2 machine?
1.Search EC2 in search bar or click on services >> compute >> EC2
2.Click on launch instance button and you will be redirected to the new window 
3.Fill the required information 
  3.1 : name and tags 
  3.2 : Application and os images (Amazon machine image) >> ubuntu >> 20.04 [os]
  3.3 : instance type >> select t3.medium [cpu,ram]
  3.4 : key pair >> click on create new pair and fill the info
                    this will download a new file,save it in secure location 
  3.5 : Network settings : click on edit and then click on add new configuration 
                           type >> all traffic 
                           source >> anywhere 
  3.6 : configure storage [HDD] 


How to connect to EC2?

1.Open a SSH client >> git bash
2.Locate your private key file >> change directory to path in gitbash where key is saved ,cd "path"
3.Run this command ,if necessary to ensure your key is not publicaly viewable
4.connect to your instance using its public dns



IAM user : identify access and management services 
AWS cloudshell : cmd prompt

AWS homepage menu bar 
logo >> redirect page to homepage dashboard
services >> all services in menu format
search bar >> search the service by name 
CLI [command line interface] >> AWS cloud shell
notifications >> services notifications 
support >> for technical and billing related support queries
settings >> ui settings
region >> all the region across aws 
user_name >> all the user related information


EC2 >> Elastic cloud compute
EC2 >> virtual machine

local machine >> cpu,ram,hdd,os,io,op

virtual machine >>cpu,ram,hdd,os
access the vm >> using the terminal [command prompt] SSH [secure shell]



How to create the EC2 machine?

1.Search EC2 in Search bar or click on services >> compute >> EC2
2.click on launch instance button and you will be redirected to the new window 
3.Fill the required information 
  3.1 Names and tags 
  3.2 Application and os images (amazon machine image) quick start >> ubuntu >> 20.04
  3.3 instance type >> t2.micro
  3.4 key pair >> click on create new key pair and fill the info,this will download one file ,save it in             secure location 
  3.5 network settings >> click on edit and then click on add network configuration
                          type >> all traffic
                          source >> anywhere
  3.6 configure storage


how to coonect to EC2?
1.open a SSH client >> gitbash
2.Loacte your private key file >> cd to path in gitbash where key is stored 
3.To ensure your key is not publicaly viewable
4.connect to your instance using its publicaly viewable

AWS homepage menu bar :
logo >> redirect back to homepage dashboard 
services >> all services in the menu format 
search bar >> search the service by the name 
CLI [command line interface] >> AWS cloud shell 
notifications  >> service notifications 
support >> for technical and billing related support inquiries 
setting >> ui setting 
region >> all the region across aws 
user_name >> all the user related information


EC2 : Elastic cloud compute 
EC2 : virtual machine

local machine >> cpu,ram,hdd,os,io,op
virtaul machine >>cpu,ram,hdd,os
access the vm >> using the terminal [command prompt] SSH [secure shell]


How to create the ec2 machine ?
1.Search ec2 in search bar or click on service >> compute ec2 
2.click on launch instance button and you will be rediredirected to the new window 
3.fill the required information 
  3.1 Name and tags >> 
  3.2 application and os images (amazon machine image) >> ubuntu >> 20.04 [os]
  3.3 instance type >> select t3.medium [cpu,ram]
  3.4 key pair >> click on create new pair and fill the info 
               >> this will download one file save it in secure location 
  3.5 network settings >> click on edit and and then click on add network configuration
                       >> type >> all traffic 
                       >> source >> anywhere 
  3.6 configure storage [HDD] >>


  how to connect to ec2 ?

  1. open a  SSH client  >> gitbash
  2. locate your private key file >> change directory to folder where your key is stored
  3. Run this command,if necessary to ensure your key is not publicialy viewable 

  Deployment >> 
  private ip >> 
  public ip >> end users client 
  Public DNS 

  To export requirements.txt file with formatted syntax 

  pip list --format=freeze > requirements.txt
  pip list --format=freeze > requirements.txt
  pip list --format=freeze > requirements.txt


  1.setup env >> update the os and libraries 
    sudo apt-get update [os update]
    sudo apt-get upgrade [package upgrade]

  2.check python,git and pip 
    most probabily python and git will be there but you need to install pip 
    sudo apt-get install python3-pip

  3.copy the code to EC2 using git clone 
    git clone project_url

  4.install the dependencies 
    pip install -r requirements.txt

  5.run the apllication 
    python3 app.py

  6.if you want flask server to run continously 
    nohup python3 app.py 
  
  7.if you wnat to stop the continous flask server 
    7.1 >> find the process id 
        >> ps -ef | grep python 
    7.2 >> kill the process 
        >> kill p_id

  

  Deployment : 

  private ip >>
  public ip >> end users [client]


  to export requirements.txt file with formatted syntax 
  pip list --format==freeze > requirements.txt
  pip list --format==freeze > requirements.txt


  1.Setup env >> update the os and libraries 
    sudo apt-get update [os update]
    sudo apt-get upgrade [package upgrade]

  2.check python,git and pip 
    most probably python and git will be there but pip needs to be installed 
    sudo apt-get install python3-pip

  3.copy the code to ec2 using git clone 
    git clone project_url 
  
  4.Install all dependcies 
    pip install -r requirements.txt

  5.run the application 
    python3 app.py 

  6.if you want flask server to be run continously
    nohup python3 app.py
  
  7.If you want to stop the continous flask server 
     >> find the process id 
        ps -ef | grep python 
     >> kill the process 
        kill p_id


Deployment : 

private id >> 
public id >> end users [client]

to export requirements.txt file with formatted syntax 
pip list --format=freeze > requirements.txt

1.Setup env >> update the os and libraries 
  sudo apt-get update [os update]
  sudo apt-get upgrade [package upgrade]

2.check python,git and pip 
  most probably python and git will be there but you need to install pip 
  sudo apt-get install python3-pip

3.copy the code to ec2 using git clone 
 git clone project_url 

4.Install all dependencies
  pip install -r requirements.txt

5.run the application 
  python3 app.py

6.if you want to run the flask server continously 
  nohup python3 app.py

7.if you want to stop the continous flask server
  >> find the process id 
     ps -ef | grep python 
  >> kill the process 
     kill p_id


deployment :

private ip >> 
public ip address  >> end users [client]
public dns 

to export requirements.txt file with formatted synatx 
pip list --format=freeze > requirements.txt

pip list --format=freeze > requirements.txt

pip list --format=freeze > requirements.txt

1.setup env >> update the os and libraries 
  sudo apt-get update [os update]
  sudo apt-get upgrade [packages upgrade]

2.check python,git and pip 
  most probably python and git will be preinstalled but pip need to be installed 
  sudo apt-get install python3-pip

3.copy the code to ec2 using git clone 
  git clone project_url

4.install all dependencies
  pip install -r requirements.txt

5.run the application 
  python3 app.py

6.if you want to run the flask server continously 
  nohup python3 app.py

7.if you want to stop the continous flask server 
 >> find the process id 
    ps -ef | grep python
 >> kill the process 
    kill p_id



deployment : 
private ip  >> 
public ip >> end users [client]
public dns 

to export requirements.txt file with formatted syntax 
> pip list --format=freeze > requirements.txt

> pip list --format=freeze > requirements.txt

> pip list --format=freeze > requirements.txt

1. setup env >> update the os and libraries 
             >> sudo apt-get update [os update]
             >> sudo apt-get upgrade [os upgrade]

2. check python,git and pip 
most probably python and git will be preinstalled but we need to install pip 
sudo apt-get install python3-pip

3.copy the code to ec2 using git clone 
>> git clone project_url

4.install all dependicies 
>> pip install -r requirements.txt

5.run the application 
>> python3 app.py

6.if you want to run the flask server continously 
>> nohup python3 app.py

7.if you want to stop the continous flask server 
  find the process id 
  >> ps -ef | grep python
  kill the process id
  >> kill p_id



deployment >>

private ip >> 
public ip >> end users [client]
public dns 


to export requirements.txt file with formatted syntax 

>> pip list --format=freeze > requirements.txt


1.set up env >> update the os and libraries 
>> sudo apt-get update [os update]
>> sudo apt-get upgrade [packages upgrade]

2.check python,git and pip 
most probably python and git will be preinstalled but you need to install pip
>> sudo apt-get install python3-pip

3.copy the code to ec2 using git clone 
>> git clone project_url

4.install all dependicies 
>> pip install -r requirements.txt

5.run the application 
>> python3 app.py 

6.if you want to run the flask server continously 
>> nohup python3 app.py

7. if you want to stop the continously running flask server 
find process id 
>> ps -ef | grep python
kill process id 
>> kill p_id



deployment : 
private ip >> 
public ip >> end users [client]
public dns 

to export requirements.txt file with formatted syntax 
>> pip list --format=freeze > requirements.txt

1.setup env >> update the os and libraries 
>> sudo apt-get update [update os]
>> sudo apt-get upgrade [packages upgrade]

2.check python,git anf pip 
most probably python and git are preinstalled but you need to install pip
>> sudo apt-get install python3-pip

3.copy the code to ec2 using git clone 
>> git clone project_url

4.install all dependencies
>> pip install -r requirements.txt

5.run the application
>> python3 app.py

6.if you want to run the flask server continously
>> nohup python3 app.py

7.if you want to stop the flask server 
find process id 
>> ps -ef | grep python 
kill process id 
>> kill p_id

In [1]:
import sqlalchemy as sa
import pandas as pd

create a connection

In [2]:
engine = sa.create_engine("mysql+pymysql://root:abhishek7741@localhost:3306/college")
engine

Engine(mysql+pymysql://root:***@localhost:3306/college)

read sql table

In [3]:
df=pd.read_sql_table("emp",engine)
df

    emp_ID emp_NAME DEPT_NAME  SALARY
0      101    Mohan     Admin    4000
1      102    rahul        HR    3000
2      103    Akbar        IT    4000
3      104   Dorvin   Finance    6500
4      105    Rohit        HR    3000
5      106   Rajesh   Finance    5000
6      107    Preet        HR    7000
7      108   Maryam     Admin    4000
8      109   Sanjay        IT    6500
9      110  Vasudha        IT    7000
10     111  Melinda        IT    8000
11     112    Komal        IT   10000
12     113  Gautham     Admin    2000
13     114  Manisha        HR    3000
14     115  Chandni        IT    4500
15     116    Satya   Finance    6500
16     117   Adarsh        HR    3500
17     118  Tejaswi   Finance    5500
18     119     Cory        HR    8000
19     120   Monica     Admin    5000
20     121  Rosalin        IT    6000
21     122  Ibrahim        IT    8000
22     123   Vikram        IT    8000
23     124  Dheeraj        IT   11000

In [4]:
df=pd.read_sql_table("student",engine)
df

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil     goa
3      104    nikita    pune
4      105   shubham    pune

read sql query

In [5]:
df=pd.read_sql_query("select * from emp",engine)
df

    emp_ID emp_NAME DEPT_NAME  SALARY
0      101    Mohan     Admin    4000
1      102    rahul        HR    3000
2      103    Akbar        IT    4000
3      104   Dorvin   Finance    6500
4      105    Rohit        HR    3000
5      106   Rajesh   Finance    5000
6      107    Preet        HR    7000
7      108   Maryam     Admin    4000
8      109   Sanjay        IT    6500
9      110  Vasudha        IT    7000
10     111  Melinda        IT    8000
11     112    Komal        IT   10000
12     113  Gautham     Admin    2000
13     114  Manisha        HR    3000
14     115  Chandni        IT    4500
15     116    Satya   Finance    6500
16     117   Adarsh        HR    3500
17     118  Tejaswi   Finance    5500
18     119     Cory        HR    8000
19     120   Monica     Admin    5000
20     121  Rosalin        IT    6000
21     122  Ibrahim        IT    8000
22     123   Vikram        IT    8000
23     124  Dheeraj        IT   11000

In [6]:
df=pd.read_sql("select * from student",engine)
df

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil     goa
3      104    nikita    pune
4      105   shubham    pune

In [7]:
df=pd.read_sql("""select emp_id,emp_name,employee.dept_id,department.dept_id,dept_name,mgr_name,proj_name
from employee
left join
department
on employee.dept_id=department.dept_id
inner join 
manager
on employee.mgr_id=manager.mgr_id
left join 
project 
on employee.emp_id=project.team_member_id;""",engine)
df

  emp_id emp_name dept_id dept_id dept_name mgr_name       proj_name
0     e1    rahul      d1      d1        IT     prem             ETL
1     e1    rahul      d1      d1        IT     prem  data migration
2     e2    manoj      d1      d1        IT     prem  data migration
3     e3   sanjay      d2      d2        hr  shreyas            None
4     e4   snehal      d2      d2        hr  shreyas            None
5     e5     neha     d10    None      None     nick            None
6     e6    priya     d10    None      None     nick            None

In [8]:
df=pd.read_sql("""select emp_id,emp_name,dept_name,mgr_name,proj_name
from employee
left join
department
on employee.dept_id=department.dept_id
inner join 
manager
on employee.mgr_id=manager.mgr_id
left join 
project 
on employee.emp_id=project.team_member_id""",engine)
df

  emp_id emp_name dept_name mgr_name       proj_name
0     e1    rahul        IT     prem             ETL
1     e1    rahul        IT     prem  data migration
2     e2    manoj        IT     prem  data migration
3     e3   sanjay        hr  shreyas            None
4     e4   snehal        hr  shreyas            None
5     e5     neha      None     nick            None
6     e6    priya      None     nick            None

to_sql()

In [9]:
df.to_sql(name="Final_df",con=engine,index=False)

ValueError: Table 'Final_df' already exists.

In [10]:
df.to_sql(name="final_df",con=engine,index=False,if_exists="append")

7

In [11]:
df.to_sql(name="final_df",con=engine,index=False,if_exists="replace")

7

mysql : relational database
structured data in the format of table and relations 
workbench/jupyter notebook
SQL


MongoDB : non relational database
unstructured data in the format of json files and dictionaries
compass/jupyter notebook
python

In [1]:
import pymongo
import pandas as pd

create connection

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

sql >> databases >> database >> tables      >> rows   and   columns 
MongoDB >> databases >> collections         >> document     keys

CRUD operations 

1. create database 
2. create collection 
3. insert data (add document)
4. read data
5. update data
6. delete data

create database

In [3]:
db=client["college"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college')

In [4]:
client.list_database_names()

['Iris', 'Ml', 'admin', 'config', 'local', 'mydb']

create collection

In [5]:
coll=db["student"]
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'college'), 'student')

In [6]:
db.list_collection_names()

[]

insert data 

insert_one() : used to insert a single document

insert_many() : used to insert multiple documents

insert_one() : collection_name.insert_one({key:value})

In [7]:
coll.insert_one({"rollno":101,"stud_name":"rohit","gender":"m","loc":"pune"})

InsertOneResult(ObjectId('655ace5c79762d82ca808d45'), acknowledged=True)

In [8]:
client.list_database_names()

['Iris', 'Ml', 'admin', 'college', 'config', 'local', 'mydb']

In [9]:
db.list_collection_names()

['student']

In [10]:
coll.insert_one({"rollno":102,"stud_name":"ronita","gender":"f","loc":"mumbai"})

InsertOneResult(ObjectId('655acef479762d82ca808d46'), acknowledged=True)

In [11]:
coll.insert_one({"rollno":103,"stud_name":"nita","gender":"f"})

InsertOneResult(ObjectId('655acf5379762d82ca808d47'), acknowledged=True)

In [12]:
coll.insert_one({"rollno":104,"stud_name":"dhiraj","gender":"m","contact":1234})

InsertOneResult(ObjectId('655ad06479762d82ca808d48'), acknowledged=True)

In [13]:
coll.insert_one({"rollno":105,"stud_name":"akash","gender":"m",
                 "contact":{"email":"akash@gmail.com","mobno":1234}})

InsertOneResult(ObjectId('655ad0ad79762d82ca808d49'), acknowledged=True)

insert_many() : collection_name.insert_many([{},{},{}])

In [14]:
coll.insert_many([{"rollno":106,"stud_name":"veena"},
                  {"rollno":107,"stud_name":"pooja","loc":"mumbai"}])

InsertManyResult([ObjectId('655ad12a79762d82ca808d4a'), ObjectId('655ad12a79762d82ca808d4b')], acknowledged=True)

read data : 
find_one() : returns a single document 

find_many() : returns multiple documents

find_one() : collection_name.find_one({filter condition},{select})

without filter comdition : returns the first document of the collection

with filter condition : returns the first matched document of the collection

In [15]:
coll.find_one({})

{'_id': ObjectId('655ace5c79762d82ca808d45'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'pune'}

In [16]:
coll.find_one({},{"_id":0})

{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'}

In [17]:
coll.find_one({},{"_id":0,"loc":0})

{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm'}

In [18]:
coll.find_one({},{"_id":0,"loc":1})

{'loc': 'pune'}

In [19]:
coll.find_one({},{"loc":1,"_id":0})

{'loc': 'pune'}

In [20]:
coll.find_one({},{"loc":1,"rollno":0,"_id":0})

OperationFailure: Cannot do exclusion on field rollno in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field rollno in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

20 keys : read 4 keys : specify 1 for those 4 keys


20 keys : skip 4 keys : specify 0 for those 4 keys

In [21]:
coll.find_one({"gender":"f"})

{'_id': ObjectId('655acef479762d82ca808d46'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

In [22]:
coll.find_one({"loc":"mumbai"})

{'_id': ObjectId('655acef479762d82ca808d46'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

$gt : greater than
$gte : greater than equal to
$ne : not equal to
$lt : less than 
$lte : less than equal to 
$in : specify multiple possible values

In [23]:
coll.find_one({"rollno":{"$gt":105}})

{'_id': ObjectId('655ad12a79762d82ca808d4a'),
 'rollno': 106,
 'stud_name': 'veena'}

In [24]:
coll.find_one({"rollno":{"$gte":105}})

{'_id': ObjectId('655ad0ad79762d82ca808d49'),
 'rollno': 105,
 'stud_name': 'akash',
 'gender': 'm',
 'contact': {'email': 'akash@gmail.com', 'mobno': 1234}}

In [25]:
coll.find_one({"rollno":{"$lt":104}})

{'_id': ObjectId('655ace5c79762d82ca808d45'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'pune'}

combine multiple filter conditions

In [26]:
coll.find_one({"rollno":103,"stud_name":"nita"})

{'_id': ObjectId('655acf5379762d82ca808d47'),
 'rollno': 103,
 'stud_name': 'nita',
 'gender': 'f'}

In [27]:
coll.find_one({"rollno":103,"stud_name":"snehal"})

In [30]:
coll.find_one({"$or":[{"rollno":103},{"stud_name":"snehal"}]})

{'_id': ObjectId('655acf5379762d82ca808d47'),
 'rollno': 103,
 'stud_name': 'nita',
 'gender': 'f'}

In [31]:
coll.find_one({"$or":[{"rollno":103},{"stud_name":"ronita","gender":"f"}]})

{'_id': ObjectId('655acef479762d82ca808d46'),
 'rollno': 102,
 'stud_name': 'ronita',
 'gender': 'f',
 'loc': 'mumbai'}

find() : returns multiple documents 

collection_name.find({filter condition},{select})

without filter condition : returns all documents of the collection

with filter condition : returns all matched documents of the collection

In [32]:
data = coll.find({})
list(data)

[{'_id': ObjectId('655ace5c79762d82ca808d45'),
  'rollno': 101,
  'stud_name': 'rohit',
  'gender': 'm',
  'loc': 'pune'},
 {'_id': ObjectId('655acef479762d82ca808d46'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('655acf5379762d82ca808d47'),
  'rollno': 103,
  'stud_name': 'nita',
  'gender': 'f'},
 {'_id': ObjectId('655ad06479762d82ca808d48'),
  'rollno': 104,
  'stud_name': 'dhiraj',
  'gender': 'm',
  'contact': 1234},
 {'_id': ObjectId('655ad0ad79762d82ca808d49'),
  'rollno': 105,
  'stud_name': 'akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 1234}},
 {'_id': ObjectId('655ad12a79762d82ca808d4a'),
  'rollno': 106,
  'stud_name': 'veena'},
 {'_id': ObjectId('655ad12a79762d82ca808d4b'),
  'rollno': 107,
  'stud_name': 'pooja',
  'loc': 'mumbai'}]

In [33]:
data = coll.find({},{"_id":0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'ronita', 'gender': 'f', 'loc': 'mumbai'},
 {'rollno': 103, 'stud_name': 'nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'dhiraj', 'gender': 'm', 'contact': 1234},
 {'rollno': 105,
  'stud_name': 'akash',
  'gender': 'm',
  'contact': {'email': 'akash@gmail.com', 'mobno': 1234}},
 {'rollno': 106, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja', 'loc': 'mumbai'}]

In [34]:
data = coll.find({},{"rollno":1,"_id":0})
list(data)

[{'rollno': 101},
 {'rollno': 102},
 {'rollno': 103},
 {'rollno': 104},
 {'rollno': 105},
 {'rollno': 106},
 {'rollno': 107}]

In [35]:
data = coll.find({},{"contact":0,"_id":0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'gender': 'm', 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'ronita', 'gender': 'f', 'loc': 'mumbai'},
 {'rollno': 103, 'stud_name': 'nita', 'gender': 'f'},
 {'rollno': 104, 'stud_name': 'dhiraj', 'gender': 'm'},
 {'rollno': 105, 'stud_name': 'akash', 'gender': 'm'},
 {'rollno': 106, 'stud_name': 'veena'},
 {'rollno': 107, 'stud_name': 'pooja', 'loc': 'mumbai'}]

In [36]:
data = coll.find({"loc":"mumbai"})
list(data)

[{'_id': ObjectId('655acef479762d82ca808d46'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('655ad12a79762d82ca808d4b'),
  'rollno': 107,
  'stud_name': 'pooja',
  'loc': 'mumbai'}]

In [37]:
data = coll.find({},{"_id":0})
data1 =list(data)
df=pd.DataFrame(data1)
df

,rollno,stud_name,gender,loc,contact
0,101,rohit,m,pune,NaN
1,102,ronita,f,mumbai,NaN
2,103,nita,f,NaN,NaN
3,104,dhiraj,m,NaN,1234
4,105,akash,m,NaN,"{'email': 'akash@gmail.com', 'mobno': 1234}"
5,106,veena,NaN,NaN,NaN
6,107,pooja,NaN,mumbai,NaN

In [38]:
data = coll.find({"rollno":{"$in":[102,104,106]}})
list(data)

[{'_id': ObjectId('655acef479762d82ca808d46'),
  'rollno': 102,
  'stud_name': 'ronita',
  'gender': 'f',
  'loc': 'mumbai'},
 {'_id': ObjectId('655ad06479762d82ca808d48'),
  'rollno': 104,
  'stud_name': 'dhiraj',
  'gender': 'm',
  'contact': 1234},
 {'_id': ObjectId('655ad12a79762d82ca808d4a'),
  'rollno': 106,
  'stud_name': 'veena'}]

update data :

update_one() : update a single document 

update_many() : update multiple documents

update_one() : collection_name.update_one({filter condition},{"$set":{"key":new value}})

without filter condition : updates the first document in the collection

with filter condition : updates the first matched document in the collection

In [39]:
coll.update_one({},{"$set":{"loc":"chennai"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [40]:
coll.update_one({},{"$set":{"contact":8983}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [41]:
coll.update_one({"rollno":106},{"$set":{"loc":"pune"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [42]:
coll.update_one({"loc":"mumbai"},{"$set":{"contact":2345}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [43]:
coll.find_one({})

{'_id': ObjectId('655ace5c79762d82ca808d45'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'chennai',
 'contact': 8983}

In [44]:
coll.find_one({"gender":"m"})

{'_id': ObjectId('655ace5c79762d82ca808d45'),
 'rollno': 101,
 'stud_name': 'rohit',
 'gender': 'm',
 'loc': 'chennai',
 'contact': 8983}

In [45]:
import bson
from bson.objectid import ObjectId

In [46]:
coll.find_one({"_id":ObjectId("655acf5379762d82ca808d47")})

{'_id': ObjectId('655acf5379762d82ca808d47'),
 'rollno': 103,
 'stud_name': 'nita',
 'gender': 'f'}

In [47]:
coll.update_many({"rollno":{"$gt":105}},{"$set":{"gender":"f"}})

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [48]:
coll.update_one({},{"$set":{"loc":"goa","contact":4567}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [49]:
coll.update_one({"rollno":103},{"$set":{"loc":"pune"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [50]:
coll.update_many({},{"$set":{"branch":"comp"}})

UpdateResult({'n': 7, 'nModified': 7, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [51]:
coll.update_many({},{"$unset":{"contact":1}})

UpdateResult({'n': 7, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

delete data :

delete_one() : delete a single document

delete_many() : delete multiple documents

delete_one() : collection_name.delete_one({filter condition})

without filter condition : deletes first document of the collection

with filter condition : deletes first matched document of the collection

In [52]:
coll.delete_one({})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [53]:
coll.delete_one({"gender":"m"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

delete_many() : collection_name.delete_many({filter condition})

without filter condition : deletes all document of the collection 

with filter condition : delets all matched documents of the collection

In [54]:
coll.delete_many({"rollno":{"$lt":105}})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [55]:
coll.delete_many({})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [56]:
coll.drop()

In [57]:
client.drop_database("college")

import csv file into mongo collection

In [ ]:
df=pd.read_csv("iris.csv")
data = df.to_dict(orient="records")
db=client["ML"]
db.iris.insert_many(data)

EC2 :

IAM user >> identify access and management service 

aws cloudshell >> access entire region >> cmd prompt

amazon textract >> extract text files

AWS homepage menu bar :
logo >> redirect back to home page dashboard,
services >> all services in menu format,
search bar >> search the service by the name, 
CLI >> AWS cloud shell >> command line interface,
notifications >> services notifications,
support >> for technical and billing related support,
setting >> ui setting, 
region >> all the region across AWS,
user_name >> all the user related information,


EC2 : Elastic cloud compute 
virtual machine

How to create the EC2 machine ?

1. Search EC2 in search bar or click on services >> compute >> EC2
2. click on launch instance button and you will be redirected to the new window 
3. Fill the required information
 3.1 Name and Tags 
 3.2 Application OS images (Amazon machine Image)
 >> ubuntu >> 20.04
 3.3 Instance type >> select t3.medium
4. Key pair >> click on create new pair and fill the required information
            >> This will download a file save it in secure location

5. Network Settings >> click on edit and then click on add network configuration
              type >> all traffic 
              source >> anywhere
6. Configure Storage 


How to connect to EC2 machine?
Click on connect 
1. Open SSH Client >> open gitbash
2. Locate your private key file >> cd to path in gitbash where key is saved >> cd"path"
3. Run the 3rd command while connecting first time 
4. run the command in example

EC2 deployment 

private ip address >>
public ip address >> end users[client]
public DNS

linux commands (Gitbash) >> ubuntu
clear in gitbash >> same like cls in cmd

sudo apt-get update >> ubuntu updates (os level)
sudo apt-get upgrade >> ubuntu library updates 

EC2 deployment >>
1. Setup Env
Update the os and libraries 
>> sudo apt-get update >> os updates 
>> sudo apt-get upgrade >> library upgrade

2. check python,git and pip
most probably python and git will be there but pip need to be installed
>>sudo apt-get install python3-pip

3. Copy the code to EC2 using git clone 
>> git clone project_url

4. Install the dependencies
>> pip install -r requirements.txt

5. Run the application
>> python3 app.py

6.If you want to run the flask server continously
>> nohup python3 app.py

7. If you want to stop the Flask server running continuously
find the process id
>> ps -ef | grep python
kill the process 
>> kill p_id

IAM >> Identity access Management (Authorization)

permission system to access the AWS resource or service 

who can access what service 

4 key componenets of IAM 
1. Users >> Individual Users 
2. Users groups >> collection of users
3. Policies >> low level permission resource (json files)
4. Roles >> collection of policies


S3 : 
S >> simple 
S >> storage 
S >> Service

It is storage service it is object storage service

1. Bucket >> root level directory,
   name should be unique in AWS global region 
   multiple buckets can be created 

2. Object >> directory of files inside the bucket are called as objects 
   Objects can be any files >> images,txt,csv,model,artifacts
   max size of any object 5TB



SageMaker 

AWS Sagemaker >> Managed service for train ,build and deploy the ML models, 
Managed service >> AWS will provide required H/W and S/W resources to run the service 

NoteBook >> NoteBook Instances >> Create Notebook instance >> name info as it is >> create notebook instance 
>> Actions >> open Jupyter

vscode >> sagemaker >> cloud9 >> create environment 




IAM >> Identity access and management (Authorization) 
>> permission system to access the AWS resource or service 
>> who can access what service

4 key components of IAM

1. Users >> Individual Users 
2. Users group >> collection of users 
3. Policies >> low level permission resource (json files)
4. Roles >> collection of policies 



S3 >> 
S >> Simple
S >> Storage 
S >> Service 

It is storage service ,it is object storage service 

1. Bucket >> 
>> root level directory 
>> name should be unique in aws global region 
>> mutiple buckets can be created 

2. Object >> 
>> directory of files inside the bucket are called objects 
>> objects can be files images,text,csv,model,artifacts 
>> max size of any object 5 TB


Sagemaker >> 

AWS Sagemaker >> Managed service for train,build and deploy the ML models 

Managed Service >> AWS will provide required H/W and S/W resources to run the service 

Notebook >> Notebook instances >> create notebook instances >> name,info as it is >> create notebook instance
and >> actions >> open jupyter 

vscode >> sagemaker >> cloud9 >> create environment


IAM >> 
>> Identity access management 
>> permission system to access the AWS resource or service 
>> who can access what service 
4 key components of IAM 
1. Users >> Individual Services 
2. User groups >> collection of users 
3. Policies >> low level permission resource (json files)
4. Roles >> collection of policies 

S3 >> 
S >> simple 
S >> storage 
S >> Service 

>> It is storage service ,it is object storage service 
1.Bucket >> 
>> root level directory 
>> name should be unique in aws global region 
>> multiple buckets can be created 

2.Object >> 
>> directory of files inside the bucket are called as objects 
>> Objects can be any files images,text,csv,model,artifacts 
>> max size of any object 5 TB


Sagemaker : managed service for train,build,and deploy the ml models 

Managed service >> AWS will provide required H/W and S/W resource to run the service 

notebook >> notebook instances >> create notebook instances >> name,keep rest of the info as it is >>
create notebook instances >> actions >> open jupyter 

vscode >> sagemaker >> cloud9 >> create environment

we can access another services in sagemaker 


IAM >> Identity access and management system 
>> permission system to access the aws resource or service
>> who can access what service 
4 key components of IAM 

1. Users >> individual users 
2. User groups >> collection of Users 
3. Policies >> low level permission resource (json files)
4. Roles >> collection of policies 


S3 >>
S >> Simple 
S >> Storage 
S >> Service 

It is Storage service , it is object storage service 

1. Bucket
>> root level directory 
>> name should be unique in aws global region 
>> multiple buckets can be created

2.Object 
>> directory of files inside the buckets are called as objects 
>> Objects can be any files images,text,csv,models,artifacts 
>> max size of an object 5 TB


Sagemaker >> AWS sagemaker >> managed service for train, build and deploy the ML Models 

Managed Service >> AWS will provide required H/W and S/W resource to run the service 

notebook >> notebook instances >> create notebook instances >> name,rest info as it is >> create notebook instances >>
actions >> open jupyter 

vscode >> sagemaker >> cloud9 >> create environment 

we can access another services in Sagemaker

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [3]:
df=pd.DataFrame({"P": [40,45,43,np.nan,41,48,50],
                  "Q" : [10,28,13,16,20,np.nan,15],
                  "R": [1,5,1,2,8,3,9],
                  "S": [1,0,2,np.nan,np.nan,2,0]})
df

      P     Q  R    S
0  40.0  10.0  1  1.0
1  45.0  28.0  5  0.0
2  43.0  13.0  1  2.0
3   NaN  16.0  2  NaN
4  41.0  20.0  8  NaN
5  48.0   NaN  3  2.0
6  50.0  15.0  9  0.0

In [5]:
knn_imputer = KNNImputer(n_neighbors=2)
array1 = knn_imputer.fit_transform(df)
df1 = pd.DataFrame(array1,columns=df.columns)
df1

      P     Q    R    S
0  40.0  10.0  1.0  1.0
1  45.0  28.0  5.0  0.0
2  43.0  13.0  1.0  2.0
3  45.5  16.0  2.0  2.0
4  41.0  20.0  8.0  1.0
5  48.0  22.0  3.0  2.0
6  50.0  15.0  9.0  0.0